Remember to get right in this project:
- Folder structure
- Docstrings
- PEP8
- Exception handling

In [349]:
# !python3 -m venv venv

In [350]:
# !pip install numpy
# !pip install pandas
# !pip install sqlalchemy
# !pip install ipython-sql
# !pip install python-dotenv
# !pip install psycopg2
# !pip install pandas-profiling
# !pip install ipywidgets

In [351]:
from sqlalchemy import create_engine, text
import os
from dotenv import load_dotenv


load_dotenv()

DB_USER = os.getenv("DB_USER")
DB_PASSWORD = os.getenv("DB_PASSWORD")

%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [352]:
%sql postgresql://postgres:password@localhost/books

In [353]:
import regex as re
from pandas.tseries.offsets import *
from datetime import date
import ast

In [354]:
import pandas as pd
df = pd.read_csv('/Users/bfaris96/Desktop/turing-proj/books_db/data/books_1.Best_Books_Ever.csv')

In [355]:
# df[df['description'].str[:4]== 'ISBN']

In [356]:
rows_with_nulls = df[df.isnull().sum(axis=1) >= 10]
print(rows_with_nulls)

                                                  bookId  \
17834  6323933-mach-deine-tr-ume-wahrverwirkliche-dei...
17843     2914484-shakespeare-s-romeo-and-juliet-remixed
17895                           6887938-das-dunkle-licht
17907              929267.Mindtronics_And_Inquiry_Alive_
17954                                    7690103-soledad
...                                                  ...
51215  3808606-report-made-to-the-chamber-of-deputies...
52121           25061354-zeitgeschichtliche-kontroversen
52224               25063232-die-sch-nsten-erz-hlungen-2
52259                          2435639.Destination_Mecca
52407  2823038-forever-young-forever-free-forever-you...

                                                   title series  \
17834  Mach Deine Träume Wahrverwirkliche Deine Ziele...    NaN
17843             Shakespeare's Romeo And Juliet Remixed    NaN
17895     Das dunkle Licht : Roman e. Epoche 1924 - 1945    NaN
17907                    Mindtronics! And Inquiry Alive!    NaN
17954                                            SOLEDAD    NaN
...                                                  ...    ...
51215  Report Made To The Chamber Of Deputies On The ...    NaN
52121  Zeitgeschichtliche Kontroversen: Um Faschismus...    NaN
52224                        Die schönsten Erzählungen 2    NaN
52259                                  Destination Mecca    NaN
52407  Forever Young, Forever Free Forever Young, For...    NaN

                      author  rating  \
17834         Roeland Suylen    0.00
17843             Nigel Tomm    3.75
17895           Leo Dembicki    4.50
17907       William C. Bruce    0.00
17954         Bandi L. Bates    5.00
...                      ...     ...
51215  Alexis de Tocqueville    3.00
52121  Karl Dietrich Bracher    5.00
52224      Jeremias Gotthelf    5.00
52259            Idries Shah    4.83
52407           Hettie Jones    3.67

                                             description language  \
17834                                                NaN      NaN
17843  Shakespeare's Romeo and Juliet Remixed (furthe...      NaN
17895                                                NaN      NaN
17907  Discrepant Events take Science and Social Stud...      NaN
17954                                                NaN      NaN
...                                                  ...      ...
51215                                                NaN      NaN
52121                                                NaN   German
52224                                                NaN   German
52259                                                NaN      NaN
52407                                                NaN      NaN

                isbn genres characters  ...   firstPublishDate awards  \
17834  9783866161276     []         []  ...                NaN     []
17843  9781419667626     []         []  ...                NaN     []
17895  9783925434150     []         []  ...                NaN     []
17907  9780970480156     []         []  ...                NaN     []
17954  9999999999999     []         []  ...                NaN     []
...              ...    ...        ...  ...                ...    ...
51215  9780837135564     []         []  ...  February 6th 2013     []
52121  9783492006538     []         []  ...                NaN     []
52224  9999999999999     []         []  ...                327     []
52259  9780900860133     []         []  ...                NaN     []
52407  9999999999999     []         []  ...                NaN     []

      numRatings              ratingsByStars likedPercent setting  \
17834          0                          []          NaN      []
17843          4                          []         75.0      []
17895          2                          []        100.0      []
17907          0                          []          NaN      []
17954          2                          []        100.0      []
...          ...                         ...          ...     ...
51215          1                          []          NaN      []
52121          1                          []          NaN      []
52224          1                          []          NaN      []
52259         36  ['30', '6', '0', '0', '0']        100.0      []
52407          3                          []          NaN      []

                                                coverImg  bbeScore bbeVotes  \
17834                                                NaN       100        1
17843                                                NaN       100        1
17895                                                NaN       100        1
17907  https://i.gr-assets.com/images/S/compressed.ph...       100        1
17954                                                NaN       100        1
...                                                  ...       ...      ...
51215                                                NaN        23        1
52121                                                NaN         8        1
52224                                                NaN         6        1
52259                                                NaN         5        1
52407                                                NaN         2        1

       price
17834   4.70
17843    NaN
17895   3.00
17907    NaN
17954    NaN
...      ...
51215    NaN
52121   4.92
52224    NaN
52259  13.95
52407    NaN

[91 rows x 25 columns]

In [357]:
df = df.drop_duplicates()

Get rows where ISBN is duplicated and is not '999999999999' placeholder

In [358]:
# duplicated_isbns = df[(df['isbn']!= '9999999999999') & (df.duplicated(subset='isbn', keep=False))]
# duplicated_isbns

In [359]:
duplicated_bookids = df[df.duplicated(subset='bookId', keep=False)]
duplicated_bookids

,bookId,title,series,author,rating,description,language,isbn,genres,characters,...,firstPublishDate,awards,numRatings,ratingsByStars,likedPercent,setting,coverImg,bbeScore,bbeVotes,price
37399,635270.The_Planet_Pirates,The Planet Pirates,Planet Pirates #1-3,"Anne McCaffrey, Elizabeth Moon, Jody Lynn Nye ...",4.09,THE PLANET PIRATES ENSLAVED SASSINAK AND DESTR...,English,9780671319625,"['Science Fiction', 'Fantasy', 'Fiction', 'Spa...","['Sassinak', 'Lunzie']",...,11/06/93,[],1287,"['515', '444', '269', '49', '10']",95.0,[],https://i.gr-assets.com/images/S/compressed.ph...,87,2,7.72
37401,60614.Diamond_Dogs,Diamond Dogs,NaN,Alan Watt (Goodreads Author),3.46,Neil Garvin is a seventeen year old living in ...,English,9780446677844,"['Fiction', 'Mystery', 'Coming Of Age']",[],...,09/01/00,['ALA Alex Award (2001)'],320,"['54', '100', '115', '42', '9']",84.0,[],https://i.gr-assets.com/images/S/compressed.ph...,87,1,6.27
37422,24903989-widz-ci,Widzę cię,Trilogia dei sensi #1,Irene Cao,3.22,"Gdyby dało się uchwycić przyjemność, Elena rob...",Polish,9788379991587,"['Romance', 'Erotica', 'Contemporary Romance',...","['Elena Kyler', 'Leonardo']",...,11/06/13,[],1292,"['216', '321', '405', '235', '115']",73.0,['Venice (Italy)'],https://i.gr-assets.com/images/S/compressed.ph...,87,1,7.28
37423,975953.Time_of_the_Dragons,Time of the Dragons,Shike #1,Robert Shea,4.27,"Shike is a novel about two characters: Jebu, a...",English,9780515048742,"['Historical Fiction', 'Fiction', 'Fantasy', '...",[],...,NaN,[],496,"['237', '179', '62', '14', '4']",96.0,[],https://i.gr-assets.com/images/S/compressed.ph...,87,1,5.45
37453,635270.The_Planet_Pirates,The Planet Pirates,Planet Pirates #1-3,"Anne McCaffrey, Elizabeth Moon, Jody Lynn Nye ...",4.09,THE PLANET PIRATES ENSLAVED SASSINAK AND DESTR...,English,9780671319625,"['Science Fiction', 'Fantasy', 'Fiction', 'Spa...","['Sassinak', 'Lunzie']",...,11/06/93,[],1287,"['515', '444', '269', '49', '10']",95.0,[],https://i.gr-assets.com/images/S/compressed.ph...,87,2,7.74
37455,60614.Diamond_Dogs,Diamond Dogs,NaN,Alan Watt (Goodreads Author),3.46,Neil Garvin is a seventeen year old living in ...,English,9780446677844,"['Fiction', 'Mystery', 'Coming Of Age']",[],...,09/01/00,['ALA Alex Award (2001)'],320,"['54', '100', '115', '42', '9']",84.0,[],https://i.gr-assets.com/images/S/compressed.ph...,87,1,6.06
37476,24903989-widz-ci,Widzę cię,Trilogia dei sensi #1,Irene Cao,3.22,"Gdyby dało się uchwycić przyjemność, Elena rob...",Polish,9788379991587,"['Romance', 'Erotica', 'Contemporary Romance',...","['Elena Kyler', 'Leonardo']",...,11/06/13,[],1292,"['216', '321', '405', '235', '115']",73.0,['Venice (Italy)'],https://i.gr-assets.com/images/S/compressed.ph...,87,1,7.32
37477,975953.Time_of_the_Dragons,Time of the Dragons,Shike #1,Robert Shea,4.27,"Shike is a novel about two characters: Jebu, a...",English,9780515048742,"['Historical Fiction', 'Fiction', 'Fantasy', '...",[],...,NaN,[],496,"['237', '179', '62', '14', '4']",96.0,[],https://i.gr-assets.com/images/S/compressed.ph...,87,1,5.46

In [360]:
duplicated_bookid_isbns = df[df.duplicated(subset=['bookId', 'isbn', 'ratingsByStars'], keep=False)]
duplicated_bookid_isbns

,bookId,title,series,author,rating,description,language,isbn,genres,characters,...,firstPublishDate,awards,numRatings,ratingsByStars,likedPercent,setting,coverImg,bbeScore,bbeVotes,price
37399,635270.The_Planet_Pirates,The Planet Pirates,Planet Pirates #1-3,"Anne McCaffrey, Elizabeth Moon, Jody Lynn Nye ...",4.09,THE PLANET PIRATES ENSLAVED SASSINAK AND DESTR...,English,9780671319625,"['Science Fiction', 'Fantasy', 'Fiction', 'Spa...","['Sassinak', 'Lunzie']",...,11/06/93,[],1287,"['515', '444', '269', '49', '10']",95.0,[],https://i.gr-assets.com/images/S/compressed.ph...,87,2,7.72
37401,60614.Diamond_Dogs,Diamond Dogs,NaN,Alan Watt (Goodreads Author),3.46,Neil Garvin is a seventeen year old living in ...,English,9780446677844,"['Fiction', 'Mystery', 'Coming Of Age']",[],...,09/01/00,['ALA Alex Award (2001)'],320,"['54', '100', '115', '42', '9']",84.0,[],https://i.gr-assets.com/images/S/compressed.ph...,87,1,6.27
37422,24903989-widz-ci,Widzę cię,Trilogia dei sensi #1,Irene Cao,3.22,"Gdyby dało się uchwycić przyjemność, Elena rob...",Polish,9788379991587,"['Romance', 'Erotica', 'Contemporary Romance',...","['Elena Kyler', 'Leonardo']",...,11/06/13,[],1292,"['216', '321', '405', '235', '115']",73.0,['Venice (Italy)'],https://i.gr-assets.com/images/S/compressed.ph...,87,1,7.28
37423,975953.Time_of_the_Dragons,Time of the Dragons,Shike #1,Robert Shea,4.27,"Shike is a novel about two characters: Jebu, a...",English,9780515048742,"['Historical Fiction', 'Fiction', 'Fantasy', '...",[],...,NaN,[],496,"['237', '179', '62', '14', '4']",96.0,[],https://i.gr-assets.com/images/S/compressed.ph...,87,1,5.45
37453,635270.The_Planet_Pirates,The Planet Pirates,Planet Pirates #1-3,"Anne McCaffrey, Elizabeth Moon, Jody Lynn Nye ...",4.09,THE PLANET PIRATES ENSLAVED SASSINAK AND DESTR...,English,9780671319625,"['Science Fiction', 'Fantasy', 'Fiction', 'Spa...","['Sassinak', 'Lunzie']",...,11/06/93,[],1287,"['515', '444', '269', '49', '10']",95.0,[],https://i.gr-assets.com/images/S/compressed.ph...,87,2,7.74
37455,60614.Diamond_Dogs,Diamond Dogs,NaN,Alan Watt (Goodreads Author),3.46,Neil Garvin is a seventeen year old living in ...,English,9780446677844,"['Fiction', 'Mystery', 'Coming Of Age']",[],...,09/01/00,['ALA Alex Award (2001)'],320,"['54', '100', '115', '42', '9']",84.0,[],https://i.gr-assets.com/images/S/compressed.ph...,87,1,6.06
37476,24903989-widz-ci,Widzę cię,Trilogia dei sensi #1,Irene Cao,3.22,"Gdyby dało się uchwycić przyjemność, Elena rob...",Polish,9788379991587,"['Romance', 'Erotica', 'Contemporary Romance',...","['Elena Kyler', 'Leonardo']",...,11/06/13,[],1292,"['216', '321', '405', '235', '115']",73.0,['Venice (Italy)'],https://i.gr-assets.com/images/S/compressed.ph...,87,1,7.32
37477,975953.Time_of_the_Dragons,Time of the Dragons,Shike #1,Robert Shea,4.27,"Shike is a novel about two characters: Jebu, a...",English,9780515048742,"['Historical Fiction', 'Fiction', 'Fantasy', '...",[],...,NaN,[],496,"['237', '179', '62', '14', '4']",96.0,[],https://i.gr-assets.com/images/S/compressed.ph...,87,1,5.46

In [361]:
df = df.drop_duplicates(subset=['title', 'bookId', 'ratingsByStars'])

In [362]:
# df = df.drop_duplicates(subset=['bookId'])

Dropping rows with all nulls:

In [363]:
df = df.dropna(how='all')

In [364]:
# Create a DataFrame with all rows where 'isbn' is '9999999999999'
df1 = df[df['isbn'] == '9999999999999']

# Create another DataFrame with all other rows and drop duplicates in 'isbn'
df2 = df[df['isbn'] != '9999999999999'].drop_duplicates(subset='isbn')

# Concatenate the two DataFrames
df = pd.concat([df1, df2])

Removing all new lines (\n) and leading and trailing whitespace from all rows

In [365]:
df = df.applymap(lambda r: r.strip() if type(r) == str else r)
df = df.applymap(lambda r: r.replace('\n', ' ') if type(r) == str else r)

This will get all the rows in ISBN that start with a letter:

In [366]:
# df[df['isbn'].str[0].str.isalpha()]

In [367]:
# df[df['description'].str[:4]== 'ISBN']

Filling ISBN field using ISBN from description field, if the ISBN field is 9999999999 or null:

Eventually rewrite this with error handling that will catch if wrong data type (non-str) is passed to the function

In [368]:
def move_isbn(row):
    # First regex pattern matches 13 digits optionally preceded and followed by a non-digit character
    # Second regex pattern matches 10 digits optionally preceded and followed by a non-digit character
    # Third regex pattern matches "B" and a specific pattern of 4 digits, 3 uppercase letters, 1 digit, and 1 uppercase letter: B1234XYZ7A
    # Fourth regex matches the pattern "978-", followed by one digit, and then a sequence of either digits or dashes that is at least 9 and at most 13 characters long: 978-3-16-148410-0

    isbn_pattern = re.compile(r'((?:\D)?(\d{13})(?:\D)?|(?:\D)?(\d{10})(?:\D)?|B\d{4}[A-Z]{3}\d{1}[A-Z]|978-\d[-\d]{9,13})')
    
    if row['isbn'] == '9999999999999' or pd.isnull(row['isbn']):
        if isinstance(row['description'], str):
            isbn_match = re.search(isbn_pattern, row['description'])
            if isbn_match:
                match = isbn_match.group(1)
                if match.startswith('978-'):
                    match = match.replace('-', '')
                if match[0].isdigit() == False:
                    match = match[1:]
                if match[-1].isdigit() == False:
                    
                    match = match[:-1]
                row['isbn'] = match
    return row

# Usage:
df = df.apply(move_isbn, axis=1)

In [369]:
df.shape

(52421, 25)

Splitting out the int after the title in series into a separate series_num column: Adds to new series_num column, removes number from series column
We're not making series_num an int, bc some cases have a range of nums, e.g. 1-3

In [370]:
# adding the series_num column: 
df['series_num'] = None

In [371]:
def move_series_num(row):
    # This regex mathes the character that come after the '#' in the series column
    series_int_pattern = re.compile(r'(#.*)')
    if isinstance(row['series'], str):
        series_num_match = re.search(series_int_pattern, row['series'])
        if series_num_match:
            s_int = series_num_match.group().replace('#', '')
            row['series_num'] = s_int
            row['series'] = row['series'].replace(series_num_match.group(), '')
    return row

# Usage:
df = df.apply(move_series_num, axis=1)

In [372]:
print(df.bookId.shape)
df.bookId.unique().shape

(52421,)

(52421,)

In [373]:
# df['bookFormat'].value_counts()

Validation for dates - checking for cases where publish date is earlier than first publish date. 

First you need to figure out what the actual format is. Then remove all non-dates. Then set the data type. Then check for cases where publish date is earlier than first publish date.

In [374]:
df[['publishDate', 'firstPublishDate']] = df[['publishDate', 'firstPublishDate']].apply(lambda x: pd.to_datetime(x, format='%m/%d/%y', errors='coerce'))

In [375]:
date_columns = ['publishDate', 'firstPublishDate']
for col in date_columns:
    df[col] = pd.to_datetime(df[col]).dt.normalize()

In [376]:


def correct_date(row):
    if row["firstPublishDate"] > pd.Timestamp.today():
        row['firstPublishDate'] = row['firstPublishDate'] - DateOffset(years=100)
    if row['publishDate'] > pd.Timestamp.today():
        row['publishDate'] = row['publishDate'] - DateOffset(years=100)
    if row['firstPublishDate'] > row['publishDate']:
        row['firstPublishDate'] = row['firstPublishDate'] - DateOffset(years=100)
    return row

# Usage: 
df = df.apply(correct_date, axis=1)

In [377]:
# df.head(100)

In [378]:
# df['publishDate'].dtypes

In [379]:
# df.shape

In [380]:
# rows_with_nulls = df[df.isnull().sum(axis=1) >= 13]
# print(rows_with_nulls)

Strip whitespace one more time:

In [381]:

df = df.applymap(lambda r: r.strip() if type(r) == str else r)

Adding new edition_id column to df, bc we will drop bookId column:

In [382]:
df['edition_id'] = df.index

In [383]:
df.columns

Index(['bookId', 'title', 'series', 'author', 'rating', 'description',
       'language', 'isbn', 'genres', 'characters', 'bookFormat', 'edition',
       'pages', 'publisher', 'publishDate', 'firstPublishDate', 'awards',
       'numRatings', 'ratingsByStars', 'likedPercent', 'setting', 'coverImg',
       'bbeScore', 'bbeVotes', 'price', 'series_num', 'edition_id'],
      dtype='object')

Creating edition df:

In [384]:
edition_df = df[['title', 'isbn', 'rating', 'numRatings', 'likedPercent', 'bbeScore', 'bbeVotes', 'bookFormat', 'edition', 'publishDate', 'firstPublishDate', 'description', 'series', 'series_num', 'language', 'pages', 'publisher', 'coverImg', 'price', 'edition_id']].copy()

In [385]:
edition_df.columns

Index(['title', 'isbn', 'rating', 'numRatings', 'likedPercent', 'bbeScore',
       'bbeVotes', 'bookFormat', 'edition', 'publishDate', 'firstPublishDate',
       'description', 'series', 'series_num', 'language', 'pages', 'publisher',
       'coverImg', 'price', 'edition_id'],
      dtype='object')

Changing all fields in df that contain a string that looks like a list into actual lists:
Authors column is a list but is not in a list syntax. Will work on later.

In [386]:
cols = ['genres', 'characters', 'awards', 'ratingsByStars', 'setting']
converted_cols = {col: df[col].apply(ast.literal_eval) for col in cols}
df.update(pd.DataFrame(converted_cols))

Creating genre df, then populating it by splitting out genre and appending edition_id:

In [387]:
def create_genre_df(df):
    genres, edition_ids = zip(*[(genre, row['edition_id']) for _, row, in df.iterrows() for genre in row['genres']])
    genre_df = pd.DataFrame({
        'edition_id': edition_ids,
        'genre': genres
    })
    return genre_df
    
genre_df = create_genre_df(df)

In [388]:
df.columns

Index(['bookId', 'title', 'series', 'author', 'rating', 'description',
       'language', 'isbn', 'genres', 'characters', 'bookFormat', 'edition',
       'pages', 'publisher', 'publishDate', 'firstPublishDate', 'awards',
       'numRatings', 'ratingsByStars', 'likedPercent', 'setting', 'coverImg',
       'bbeScore', 'bbeVotes', 'price', 'series_num', 'edition_id'],
      dtype='object')

Creating character df:

In [389]:
def create_char_df(df):
    char_names, edition_ids = zip(*[(character, row['edition_id']) for _, row in df.iterrows() for character in row['characters']])
    char_df = pd.DataFrame({
        'edition_id': edition_ids,
        'char_name': char_names
    })
    return char_df

char_df = create_char_df(df)

In [390]:
char_df.shape

(73434, 2)

Creating setting df:

In [391]:
def create_setting_df(df):
    settings, edition_ids = zip(*[(setting, row['edition_id']) for _, row in df.iterrows() for setting in row['setting']])
    setting_df = pd.DataFrame({
        'edition_id': edition_ids,
        'setting': settings
    })
    return setting_df

setting_df = create_setting_df(df)

In [392]:
df.columns

Index(['bookId', 'title', 'series', 'author', 'rating', 'description',
       'language', 'isbn', 'genres', 'characters', 'bookFormat', 'edition',
       'pages', 'publisher', 'publishDate', 'firstPublishDate', 'awards',
       'numRatings', 'ratingsByStars', 'likedPercent', 'setting', 'coverImg',
       'bbeScore', 'bbeVotes', 'price', 'series_num', 'edition_id'],
      dtype='object')

Creating star rating df: 
In this df, I have left off data where we are missing 1 or more fields from ratingsByStars, because I see no way to know which star rating the missing data belongs to.

In [393]:
def create_star_rating_df(df):
    five_star, four_star, three_star, two_star, one_star, edition_id = zip(*[(row['ratingsByStars'][0], row['ratingsByStars'][1], row['ratingsByStars'][2], row['ratingsByStars'][3], row['ratingsByStars'][4], row['edition_id']) for _, row in df.iterrows() if len(row['ratingsByStars']) == 5])
    create_star_rating_df = pd.DataFrame({
        'five_star': five_star,
        'four_star': four_star,
        'three_star': three_star,
        'two_star': two_star,
        'one_star': one_star,
        'edition_id': edition_id
    })
    return create_star_rating_df

star_rating_df = create_star_rating_df(df)

In [394]:
# Duplicated star ratings:
duplicated_star_ratings = star_rating_df[star_rating_df.duplicated(keep=False)]
duplicated_star_ratings

Empty DataFrame
Columns: [five_star, four_star, three_star, two_star, one_star, edition_id]
Index: []

Creting award df:

In [405]:
def create_award_df():
    awards, edition_ids = zip(*[(award, row['edition_id']) for _, row in df.iterrows() for award in row['awards']])
    award_df = pd.DataFrame({
        'award': awards,
        'edition_id': edition_ids
    })
    return award_df

award_df = create_award_df()

Splitting out year from award field and remove from award field:

In [406]:
def split_year(award_df):
    year_pattern = r'\((\d{4})\)'
    award_df['year'] = award_df['award'].str.extract(year_pattern)
    award_df['award'] = award_df['award'].str.replace(year_pattern, '', regex=True)
    return award_df

award_df = split_year(award_df)

In [407]:
award_df.head(50)

                                                award  edition_id  year
0                         Pulitzer Prize for Fiction            2  1961
1                            Audie Award for Classic            2  2007
2           National Book Award Finalist for Fiction            2  1961
3                   Alabama Author Award for Fiction            2  1961
4                           Georgia Peach Book Award           10  2013
5                                   Buxtehuder Bulle           10  2012
6                                      Odyssey Award           10  2013
7                              Audie Award for Teens           10  2013
8   West Australian Young Readers' Book Award (WAY...          10  2013
9   Pennsylvania Young Readers' Choice Award for Y...          10  2013
10                      Rhode Island Teen Book Award           10  2014
11                         Evergreen Teen Book Award           10  2015
12                          Soaring Eagle Book Award           10  2014
13                  Milwaukee County Teen Book Award           10  2013
14          Indies Choice Book Award for Young Adult           10  2013
15  Deutscher Jugendliteraturpreis for Preis der J...          10  2013
16                     Amelia Elizabeth Walden Award           10  2013
17  Dioraphte Jongerenliteratuurprijs for vertaald...          10  2013
18                   The Inky Awards for Silver Inky           10  2012
19    California Young Readers Medal for Young Adult           10  2015
20                                     Lincoln Award           10  2014
21                                 Luisterboek Award           10  2015
22  Goodreads Choice Award for Young Adult Fiction...          10  2012
23                         Green Mountain Book Award           10  2014
24         The Inky Awards Shortlist for Silver Inky           10  2012
25                    Louisiana Teen Readers' Choice           10  2015
26                    Missouri Gateway Readers Award           10  2015
27           Oklahoma Sequoyah Award for High School           10  2015
28              Alabama Author Award for Young Adult           10  2013
29  Premio El Templo de las Mil Puertas for Mejor ...          10  2012
30                                 FAB Award Nominee           10  2014
31  Premi Protagonista Jove for Categoria 15-16 anys           10  2013
32           British Book Award for Book of the Year           14  2005
33  Book Sense Book of the Year Award for Adult Fi...          14  2004
34                          Humo's Gouden Bladwijzer           14  2004
35                             Zilveren Vingerafdruk           14  2004
36  The Flume: New Hampshire Teen Reader's Choice ...          14  2006
37                           Teen Buckeye Book Award           14  2005
38                       Iowa High School Book Award           14  2006
39                          Puddly Award for Fiction           14  2007
40          Missouri Gateway Readers Award for Adult           14  2006
41   Grammy Award Nominee for Best Spoken Word Album           27  2003
42         Orange Prize Nominee for Fiction Longlist           30  2010
43                           Audie Award for Fiction           30  2010
44                       Exclusive Books Boeke Prize           30  2009
45                       SIBA Book Award for Fiction           30  2010
46          Indies Choice Book Award for Adult Debut           30  2010
47                          Puddly Award for Fiction           30  2011
48                             Lincoln Award Nominee           30  2013
49        Grand Prix des lectrices de Elle for roman           30  2011

Creating creator df:

In [147]:
creator_df = pd.DataFrame()
new_cols = ['creator_name', 'role', 'creator_id']
for col in new_cols:
    creator_df[col] = None