Remember to get right in this project:
- Folder structure
- Docstrings
- PEP8
- Exception handling

In [21]:
# !python3 -m venv venv

In [22]:
# !pip install numpy
# !pip install pandas
# !pip install sqlalchemy
# !pip install ipython-sql
# !pip install python-dotenv
# !pip install psycopg2
# !pip install pandas-profiling
# !pip install ipywidgets

In [23]:
from sqlalchemy import create_engine, text
import os
from dotenv import load_dotenv


load_dotenv()

DB_USER = os.getenv("DB_USER")
DB_PASSWORD = os.getenv("DB_PASSWORD")

%load_ext sql

In [24]:
%sql postgresql://postgres:password@localhost/books

In [25]:
import regex as re
from pandas.tseries.offsets import *
from datetime import date

In [60]:
import pandas as pd
df = pd.read_csv('/Users/bfaris96/Desktop/turing-proj/books_db/data/books_1.Best_Books_Ever.csv')

In [27]:
# df[df['description'].str[:4]== 'ISBN']

In [62]:
df = df.drop_duplicates()

In [70]:
df.shape

(52424, 25)

In [30]:
df.columns

Index(['bookId', 'title', 'series', 'author', 'rating', 'description',
       'language', 'isbn', 'genres', 'characters', 'bookFormat', 'edition',
       'pages', 'publisher', 'publishDate', 'firstPublishDate', 'awards',
       'numRatings', 'ratingsByStars', 'likedPercent', 'setting', 'coverImg',
       'bbeScore', 'bbeVotes', 'price'],
      dtype='object')

Get rows where ISBN is duplicated and is not '999999999999' placeholder

In [ ]:
# duplicated_isbns = df[(df['isbn']!= '9999999999999') & (df.duplicated(subset='isbn', keep=False))]
# duplicated_isbns

In [55]:
duplicated_bookids = df[df.duplicated(subset='bookId', keep=False)]
duplicated_bookids

,bookId,title,series,author,rating,description,language,isbn,genres,characters,...,firstPublishDate,awards,numRatings,ratingsByStars,likedPercent,setting,coverImg,bbeScore,bbeVotes,price
37377,8794263-promises-to-keep,Promises to Keep,NaN,Ann Tatlock,3.94,Eleven-year-old Roz (Rosalind) Anthony and her...,English,9780764208096,"['Fiction', 'Christian Fiction', 'Christian', ...",[],...,01/01/11,[],1997,"['582', '833', '476', '84', '22']",95.0,['Illinois (United States)'],https://i.gr-assets.com/images/S/compressed.ph...,87,1,4.23
37378,1909590.Click,Click,NaN,"Eoin Colfer, Linda Sue Park, Ruth Ozeki (Goodr...",3.54,A video message from a dead person. A larcenou...,English,9781407105918,"['Young Adult', 'Fiction', 'Short Stories', 'M...",[],...,11/06/07,['Deutscher Jugendliteraturpreis Nominee for J...,1910,"['340', '647', '664', '214', '45']",86.0,[],https://i.gr-assets.com/images/S/compressed.ph...,87,1,2.60
37379,23394408-die-unendlichkeit-schl-ft,Die Unendlichkeit schläft,Loki von Schallern Staffel 1 #3,Melanie Meier,4.50,"Überall, wo er hingeht, reißen Höllenfeuer all...",German,B00O84Q7UG,[],[],...,NaN,[],2,[],NaN,[],https://i.gr-assets.com/images/S/compressed.ph...,87,1,NaN
37380,7544945-death-note,"Death Note: Black Edition, Vol. 2",Death Note: Black Edition #2,"Tsugumi Ohba, Takeshi Obata, Yuki Kowalsky (tr...",4.48,Intégrale regroupant les tomes 3 et 4Tome 3 :L...,German,9783867196727,"['Graphic Novels', 'Comics', 'Fantasy', 'Manga...","['Light Yagami', 'Ryuk']",...,11/06/03,[],5849,"['3339', '2045', '408', '44', '13']",99.0,[],https://i.gr-assets.com/images/S/compressed.ph...,87,1,12.00
37381,25886017-m-scaras,Máscaras,NaN,Ariel Dorfman,3.49,"¿Qué se oculta detrás de esos rostros difusos,...",Spanish,9500704919,"['Fiction', 'Literature']",[],...,01/01/88,[],77,"['17', '22', '23', '12', '3']",81.0,[],https://i.gr-assets.com/images/S/compressed.ph...,87,1,6.16
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37480,26845691-beatlebone,Beatlebone,NaN,Kevin Barry,3.47,He will spend three days alone on his island. ...,English,9781782116134,"['Fiction', 'Ireland', 'Irish Literature', 'Mu...",[],...,NaN,['Goldsmiths Prize (2015)'],2528,"['471', '860', '729', '334', '134']",81.0,[],https://i.gr-assets.com/images/S/compressed.ph...,87,1,4.16
37481,22916606-gli-enigmi-dei-vedovi-neri,Gli enigmi dei Vedovi Neri,The Black Widowers #5,Isaac Asimov,3.96,La vicenda di Asimov e dei Vedovi Neri è la st...,Italian,9788817695114,"['Mystery', 'Short Stories', 'Fiction', 'Scien...",[],...,01/06/90,[],571,"['166', '243', '137', '21', '4']",96.0,[],https://i.gr-assets.com/images/S/compressed.ph...,87,1,25.99
37482,13571757-1,アオハライド 1,アオハライド [Ao Haru Ride] #1,"Io Sakisaka, 咲坂伊緒",4.33,高1の双葉には中学時代から忘れられない初恋の人、「田中くん」がいる。中学のとき女子に、はぶら...,Japanese,9784088466477,"['Manga', 'Romance', 'Young Adult', 'Shojo', '...",[],...,NaN,[],16361,"['9121', '4447', '2102', '451', '240']",96.0,[],https://i.gr-assets.com/images/S/compressed.ph...,87,1,13.30
37483,1481056.Gifts_and_Ministries_of_the_Holy_Spirit,Gifts and Ministries of the Holy Spirit,NaN,Lester Sumrall,4.44,You Can Have the Power of the Holy Spirit The...,English,9780883686522,"['Christian', 'Theology', 'Christian Non Ficti...",[],...,06/06/77,[],333,"['206', '83', '31', '11', '2']",96.0,[],https://i.gr-assets.com/images/S/compressed.ph...,87,1,5.00
37484,27074409-deadly-class-vol-1,Deadly Class Vol. 1: Reagan Youth,Deadly Class #1,Rick Remender,3.96,"1987, San Francisco. Marcus Lopez, fils d'immi...",French,9782365775946,"['Graphic Novels', 'Comics', 'Graphic Novels C...",[],...,09/24/15,[],9285,"['2944', '3791', '1920', '478', '152']",93.0,"['San Francisco, California (United States)', ...",https://i.gr-assets.com/images/S/compressed.ph...,87,1,12.89

In [66]:
duplicated_bookid_isbns = df[df.duplicated(subset=['bookId', 'isbn', 'ratingsByStars'], keep=False)]
duplicated_bookid_isbns

,bookId,title,series,author,rating,description,language,isbn,genres,characters,...,firstPublishDate,awards,numRatings,ratingsByStars,likedPercent,setting,coverImg,bbeScore,bbeVotes,price
37399,635270.The_Planet_Pirates,The Planet Pirates,Planet Pirates #1-3,"Anne McCaffrey, Elizabeth Moon, Jody Lynn Nye ...",4.09,THE PLANET PIRATES ENSLAVED SASSINAK AND DESTR...,English,9780671319625,"['Science Fiction', 'Fantasy', 'Fiction', 'Spa...","['Sassinak', 'Lunzie']",...,11/06/93,[],1287,"['515', '444', '269', '49', '10']",95.0,[],https://i.gr-assets.com/images/S/compressed.ph...,87,2,7.72
37401,60614.Diamond_Dogs,Diamond Dogs,NaN,Alan Watt (Goodreads Author),3.46,Neil Garvin is a seventeen year old living in ...,English,9780446677844,"['Fiction', 'Mystery', 'Coming Of Age']",[],...,09/01/00,['ALA Alex Award (2001)'],320,"['54', '100', '115', '42', '9']",84.0,[],https://i.gr-assets.com/images/S/compressed.ph...,87,1,6.27
37422,24903989-widz-ci,Widzę cię,Trilogia dei sensi #1,Irene Cao,3.22,"Gdyby dało się uchwycić przyjemność, Elena rob...",Polish,9788379991587,"['Romance', 'Erotica', 'Contemporary Romance',...","['Elena Kyler', 'Leonardo']",...,11/06/13,[],1292,"['216', '321', '405', '235', '115']",73.0,['Venice (Italy)'],https://i.gr-assets.com/images/S/compressed.ph...,87,1,7.28
37423,975953.Time_of_the_Dragons,Time of the Dragons,Shike #1,Robert Shea,4.27,"Shike is a novel about two characters: Jebu, a...",English,9780515048742,"['Historical Fiction', 'Fiction', 'Fantasy', '...",[],...,NaN,[],496,"['237', '179', '62', '14', '4']",96.0,[],https://i.gr-assets.com/images/S/compressed.ph...,87,1,5.45
37453,635270.The_Planet_Pirates,The Planet Pirates,Planet Pirates #1-3,"Anne McCaffrey, Elizabeth Moon, Jody Lynn Nye ...",4.09,THE PLANET PIRATES ENSLAVED SASSINAK AND DESTR...,English,9780671319625,"['Science Fiction', 'Fantasy', 'Fiction', 'Spa...","['Sassinak', 'Lunzie']",...,11/06/93,[],1287,"['515', '444', '269', '49', '10']",95.0,[],https://i.gr-assets.com/images/S/compressed.ph...,87,2,7.74
37455,60614.Diamond_Dogs,Diamond Dogs,NaN,Alan Watt (Goodreads Author),3.46,Neil Garvin is a seventeen year old living in ...,English,9780446677844,"['Fiction', 'Mystery', 'Coming Of Age']",[],...,09/01/00,['ALA Alex Award (2001)'],320,"['54', '100', '115', '42', '9']",84.0,[],https://i.gr-assets.com/images/S/compressed.ph...,87,1,6.06
37476,24903989-widz-ci,Widzę cię,Trilogia dei sensi #1,Irene Cao,3.22,"Gdyby dało się uchwycić przyjemność, Elena rob...",Polish,9788379991587,"['Romance', 'Erotica', 'Contemporary Romance',...","['Elena Kyler', 'Leonardo']",...,11/06/13,[],1292,"['216', '321', '405', '235', '115']",73.0,['Venice (Italy)'],https://i.gr-assets.com/images/S/compressed.ph...,87,1,7.32
37477,975953.Time_of_the_Dragons,Time of the Dragons,Shike #1,Robert Shea,4.27,"Shike is a novel about two characters: Jebu, a...",English,9780515048742,"['Historical Fiction', 'Fiction', 'Fantasy', '...",[],...,NaN,[],496,"['237', '179', '62', '14', '4']",96.0,[],https://i.gr-assets.com/images/S/compressed.ph...,87,1,5.46

In [69]:
df = df.drop_duplicates(subset=['title', 'bookId', 'ratingsByStars'])

In [46]:
# df = df.drop_duplicates(subset=['bookId'])

Dropping rows with null title:

In [ ]:
df

In [11]:
# Create a DataFrame with all rows where 'isbn' is '9999999999999'
df1 = df[df['isbn'] == '9999999999999']

# Create another DataFrame with all other rows and drop duplicates in 'isbn'
df2 = df[df['isbn'] != '9999999999999'].drop_duplicates(subset='isbn')

# Concatenate the two DataFrames
df = pd.concat([df1, df2])

Removing all new lines (\n) and leading and trailing whitespace from all rows

In [12]:
df = df.applymap(lambda r: r.strip() if type(r) == str else r)
df = df.applymap(lambda r: r.replace('\n', ' ') if type(r) == str else r)

This will get all the rows in ISBN that start with a letter:

In [13]:
# df[df['isbn'].str[0].str.isalpha()]

In [14]:
# df[df['description'].str[:4]== 'ISBN']

Filling ISBN field using ISBN from description field, if the ISBN field is 9999999999, else just deleting the ISBN from description:

# ***This works (pulls isbn from description to ISBN field). Still need to eliminate attempted cleaning of description field from the fn for now.***


Eventually rewrite this with error handling that will catch if wrong data type (non-str) is passed to the function

In [17]:
def move_isbn(row):
    # First regex pattern matches 13 digits optionally preceded and followed by a non-digit character
    # Second regex pattern matches 10 digits optionally preceded and followed by a non-digit character
    # Third regex pattern matches "B" and a specific pattern of 4 digits, 3 uppercase letters, 1 digit, and 1 uppercase letter: B1234XYZ7A
    # Fourth regex matches the pattern "978-", followed by one digit, and then a sequence of either digits or dashes that is at least 9 and at most 13 characters long: 978-3-16-148410-0

    isbn_pattern = re.compile(r'((?:\D)?(\d{13})(?:\D)?|(?:\D)?(\d{10})(?:\D)?|B\d{4}[A-Z]{3}\d{1}[A-Z]|978-\d[-\d]{9,13})')
    
    if row['isbn'] == '9999999999999' or pd.isnull(row['isbn']):
        if isinstance(row['description'], str):
            isbn_match = re.search(isbn_pattern, row['description'])
            if isbn_match:
                match = isbn_match.group(1)
                if match.startswith('978-'):
                    match = match.replace('-', '')
                if match[0].isdigit() == False:
                    match = match[1:]
                if match[-1].isdigit() == False:
                    match = match[:-1]
                row['isbn'] = match
        return row

# Usage:
df = df.apply(move_isbn, axis=1)

In [20]:
df

,bookId,title,series,author,rating,description,language,isbn,genres,characters,...,firstPublishDate,awards,numRatings,ratingsByStars,likedPercent,setting,coverImg,bbeScore,bbeVotes,price
2,2657.To_Kill_a_Mockingbird,To Kill a Mockingbird,To Kill a Mockingbird,Harper Lee,4.28,The unforgettable novel of a childhood in a sl...,English,9999999999999,"['Classics', 'Fiction', 'Historical Fiction', ...","['Scout Finch', 'Atticus Finch', 'Jem Finch', ...",...,07/11/60,"['Pulitzer Prize for Fiction (1961)', 'Audie A...",4501075.0,"['2363896', '1333153', '573280', '149952', '80...",95.0,"['Maycomb, Alabama (United States)']",https://i.gr-assets.com/images/S/compressed.ph...,2269402.0,23328.0,NaN
3,1885.Pride_and_Prejudice,Pride and Prejudice,NaN,"Jane Austen, Anna Quindlen (Introduction)",4.26,Alternate cover edition of ISBN 9780679783268S...,English,9780679783268,"['Classics', 'Fiction', 'Romance', 'Historical...","['Mr. Bennet', 'Mrs. Bennet', 'Jane Bennet', '...",...,01/28/13,[],2998241.0,"['1617567', '816659', '373311', '113934', '767...",94.0,"['United Kingdom', 'Derbyshire, England (Unite...",https://i.gr-assets.com/images/S/compressed.ph...,1983116.0,20452.0,NaN
7,11127.The_Chronicles_of_Narnia,The Chronicles of Narnia,The Chronicles of Narnia (Publication Order) #1–7,"C.S. Lewis, Pauline Baynes (Illustrator)",4.26,"Journeys to the end of the world, fantastic cr...",English,9999999999999,"['Fantasy', 'Classics', 'Fiction', 'Young Adul...","['Polly', 'Aslan', 'Lucy Pevensie', 'Edmund Pe...",...,10/28/56,[],517740.0,"['254964', '167572', '74362', '15423', '5419']",96.0,"['London, England']",https://i.gr-assets.com/images/S/compressed.ph...,1238556.0,12949.0,NaN
10,11870085-the-fault-in-our-stars,The Fault in Our Stars,NaN,John Green (Goodreads Author),4.21,Despite the tumor-shrinking medical miracle th...,English,9999999999999,"['Young Adult', 'Romance', 'Fiction', 'Contemp...","['Hazel Grace Lancaster', 'Augustus Waters', '...",...,NaN,"['Georgia Peach Book Award (2013)', 'Buxtehude...",3550714.0,"['1784471', '1022406', '512574', '150365', '80...",93.0,"['Indianapolis, Indiana (United States)', 'Ams...",https://i.gr-assets.com/images/S/compressed.ph...,1087056.0,11287.0,NaN
11,386162.The_Hitchhiker_s_Guide_to_the_Galaxy,The Hitchhiker's Guide to the Galaxy,The Hitchhiker's Guide to the Galaxy #1,Douglas Adams,4.22,Seconds before the Earth is demolished to make...,English,9999999999999,"['Science Fiction', 'Fiction', 'Humor', 'Fanta...","['Zaphod Beeblebrox', 'Arthur Dent', 'Ford Pre...",...,10/12/79,[],1436325.0,"['725771', '420864', '199846', '58326', '31518']",94.0,[],https://i.gr-assets.com/images/S/compressed.ph...,1063601.0,10996.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52407,2823038-forever-young-forever-free-forever-you...,"Forever Young, Forever Free Forever Young, For...",NaN,Hettie Jones,3.67,NaN,NaN,9999999999999,[],[],...,NaN,[],3.0,[],NaN,[],NaN,2.0,1.0,NaN
52416,23014216-when-i-fall,When I Fall,Alabama Summer #3,J. Daniels (Goodreads Author),4.30,"From New York Times bestselling author, J. Dan...",NaN,9999999999999,"['Romance', 'New Adult', 'Contemporary Romance...","['Reed Tennyson', 'Beth Davis']",...,NaN,[],12022.0,"['5939', '4225', '1488', '256', '114']",97.0,"['Ruxton, Alabama (United States)']",https://i.gr-assets.com/images/S/compressed.ph...,2.0,1.0,NaN
52417,26158233-aideen,Aideen,Slater Brothers #3.5,L.A. Casey (Goodreads Author),4.37,Aideen Collins is fed up. She is at her wits’ ...,English,9999999999999,"['Romance', 'New Adult', 'Contemporary Romance...","['Kane Slater', 'Aideen Collins']",...,NaN,[],5916.0,"['3322', '1704', '695', '150', '45']",97.0,[],https://i.gr-assets.com/images/S/compressed.ph...,2.0,1.0,NaN
52420,25313988-spelarens-sten,Spelarens sten,NaN,Bruno K. Öijer,3.60,NaN,Swedish,9999999999999,['Poetry'],[],...,NaN,[],5.0,"['1', '1', '3', '0', '0']",100.0,[],https://i.gr-assets.com/images/S/compressed.ph...,2.0,1.0,NaN
52474,11836711-anasazi,Anasazi,Sense of Truth #2,Emma Michaels,4.19,"'Anasazi', sequel to 'The Thirteenth Chime' by...",English,9999999999999,"['Mystery', 'Young Adult']",[],...,August 3rd 2011,[],37.0,"['16', '14', '5', '2', '0']",95.0,[],https://i.gr-assets.com/images/S/compressed.ph...,0.0,1.0,NaN

Splitting out the int after the title in series into a separate series_num column: Adds to new series_num column, removes number from series column
We're not making series_num an int, bc some cases have a range of nums, e.g. 1-3

In [ ]:
# adding the series_num column: 
df['series_num'] = None

In [ ]:
def move_series_num(row):
    # This regex mathes the character that come after the '#' in the series column
    series_int_pattern = re.compile(r'(#.*)')
    if isinstance(row['series'], str):
        series_num_match = re.search(series_int_pattern, row['series'])
        if series_num_match:
            s_int = series_num_match.group().replace('#', '')
            row['series_num'] = s_int
            row['series'] = row['series'].replace(series_num_match.group(), '')
    return row

# Usage:
df = df.apply(move_series_num, axis=1)

In [ ]:
print(df.bookId.shape)
df.bookId.unique().shape

(52421,)

(4351,)

In [ ]:
# df['bookFormat'].value_counts()

Validation for dates - checking for cases where publish date is earlier than first publish date. 

First you need to figure out what the actual format is. Then remove all non-dates. Then set the data type. Then check for cases where publish date is earlier than first publish date.

In [ ]:
df[['publishDate', 'firstPublishDate']] = df[['publishDate', 'firstPublishDate']].apply(lambda x: pd.to_datetime(x, format='%m/%d/%y', errors='coerce'))

In [ ]:
date_columns = ['publishDate', 'firstPublishDate']
for col in date_columns:
    df[col] = pd.to_datetime(df[col]).dt.normalize()

In [ ]:


def correct_date(row):
    if row["firstPublishDate"] > pd.Timestamp.today():
        row['firstPublishDate'] = row['firstPublishDate'] - DateOffset(years=100)
    if row['publishDate'] > pd.Timestamp.today():
        row['publishDate'] = row['publishDate'] - DateOffset(years=100)
    if row['firstPublishDate'] > row['publishDate']:
        row['firstPublishDate'] = row['firstPublishDate'] - DateOffset(years=100)
    return row

# Usage: 
df = df.apply(correct_date, axis=1)

In [ ]:
df.head(100)

NameError: name 'df' is not defined

In [ ]:
df['publishDate'].dtypes

dtype('<M8[ns]')