Remember to get right in this project:
- Folder structure
- Docstrings
- PEP8
- Exception handling

In [100]:
# !python3 -m venv venv

In [101]:
# !pip install numpy
# !pip install pandas
#!pip install matplotlib
# !pip install sqlalchemy
# !pip install ipython-sql
# !pip install python-dotenv
# !pip install psycopg2

In [102]:
from sqlalchemy import create_engine, text
import os
from dotenv import load_dotenv


load_dotenv()

DB_USER = os.getenv("DB_USER")
DB_PASSWORD = os.getenv("DB_PASSWORD")

%load_ext sql
%sql postgresql://postgres:password@localhost/books

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [104]:
import regex as re
from pandas.tseries.offsets import *
from datetime import date
import ast

In [105]:
import pandas as pd
df = pd.read_csv('/Users/bfaris96/Desktop/turing-proj/books_db/data/books_1.Best_Books_Ever.csv')

In [106]:
# df[df['description'].str[:4]== 'ISBN']

This is a function to create summary statistics for *string fields* to show before and after a transform:

Dropping duplicates:

In [107]:
print(df.shape)
print(df[df.duplicated()].shape)

(52478, 25)
(50, 25)

In [108]:
df = df.drop_duplicates()

In [109]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 52428 entries, 0 to 52477
Data columns (total 25 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   bookId            52428 non-null  object
 1   title             52428 non-null  object
 2   series            23445 non-null  object
 3   author            52428 non-null  object
 4   rating            52428 non-null  float64
 5   description       51092 non-null  object
 6   language          48627 non-null  object
 7   isbn              52428 non-null  object
 8   genres            52428 non-null  object
 9   characters        52428 non-null  object
 10  bookFormat        50955 non-null  object
 11  edition           4949 non-null   object
 12  pages             50085 non-null  object
 13  publisher         48736 non-null  object
 14  publishDate       51549 non-null  object
 15  firstPublishDate  31125 non-null  object
 16  awards            52428 non-null  object
 17  numRatings        52428 non-null  int64
 18  ratingsByStars    52428 non-null  object
 19  likedPercent      51807 non-null  float64
 20  setting           52428 non-null  object
 21  coverImg          51823 non-null  object
 22  bbeScore          52428 non-null  int64
 23  bbeVotes          52428 non-null  int64
 24  price             38084 non-null  object
dtypes: float64(2), int64(3), object(20)
memory usage: 10.4+ MB

In [110]:
df.describe(include='all')

,bookId,title,series,author,rating,description,language,isbn,genres,characters,...,firstPublishDate,awards,numRatings,ratingsByStars,likedPercent,setting,coverImg,bbeScore,bbeVotes,price
count,52428,52428,23445,52428,52428.000000,51092,48627,52428,52428,52428,...,31125,52428,5.242800e+04,52428,51807.000000,52428,51823,5.242800e+04,52428.000000,38084
unique,52424,49927,22802,28227,NaN,50888,81,48072,44154,12448,...,8024,9215,NaN,49908,NaN,4651,51819,NaN,NaN,3776
top,24903989-widz-ci,Broken,Star Wars Legends,Nora Roberts (Goodreads Author),NaN,"هذه هي طبعة ""دار الفكر - بيروت"" وهي آخر طبعة ع...",English,9999999999999,[],[],...,01/01/12,[],NaN,[],NaN,[],https://i.gr-assets.com/images/S/compressed.ph...,NaN,NaN,5.20
freq,2,14,15,86,NaN,37,42635,4350,4620,38668,...,224,41823,NaN,1422,NaN,40858,2,NaN,NaN,625
mean,NaN,NaN,NaN,NaN,4.021865,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,1.789260e+04,NaN,92.231938,NaN,NaN,1.985832e+03,22.549535,NaN
std,NaN,NaN,NaN,NaN,0.367116,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,1.039932e+05,NaN,5.988683,NaN,NaN,3.516985e+04,369.333934,NaN
min,NaN,NaN,NaN,NaN,0.000000,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0.000000e+00,NaN,0.000000,NaN,NaN,0.000000e+00,-4.000000,NaN
25%,NaN,NaN,NaN,NaN,3.820000,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,3.410000e+02,NaN,90.000000,NaN,NaN,8.400000e+01,1.000000,NaN
50%,NaN,NaN,NaN,NaN,4.030000,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,2.309500e+03,NaN,94.000000,NaN,NaN,9.700000e+01,1.000000,NaN
75%,NaN,NaN,NaN,NaN,4.230000,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,9.389000e+03,NaN,96.000000,NaN,NaN,1.870000e+02,2.000000,NaN
max,NaN,NaN,NaN,NaN,5.000000,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,7.048471e+06,NaN,100.000000,NaN,NaN,2.993816e+06,30516.000000,NaN

Get rows where ISBN is duplicated and is not '999999999999' placeholder

In [111]:
# duplicated_isbns = df[(df['isbn']!= '9999999999999') & (df.duplicated(subset='isbn', keep=False))]
# duplicated_isbns

Dropping rows with all nulls:

In [112]:
df = df.dropna(how='all')

Flagging rows with duplicate isbns that are not 9999999999999 placeholder values:

In [113]:
def flag_duplicate_isbns(df):
    """
    Flag duplicate ISBNs in the DataFrame, excluding None.

    Adds a new column 'is_duplicate_isbn' to the DataFrame. The column is set
    to True for rows with duplicate ISBNs (excluding None) and False
    otherwise.

    :param df: DataFrame with a column named 'isbn'
    :return: DataFrame with 'is_duplicate_isbn' column added
    :raises ValueError: If 'isbn' column is missing in the DataFrame
    """
    try:
        if 'isbn' not in df.columns:
            raise ValueError("'isbn' column is missing in the DataFrame.")

        df['is_duplicate_isbn'] = False
        mask = (df['isbn'] != None) & df.duplicated(subset='isbn', keep=False)
        df.loc[mask, 'is_duplicate_isbn'] = True
        return df
    except Exception as e:
        print(f"An error occurred: {e}")
        return df

# Usage example:
try:
    df = flag_duplicate_isbns(df)
except ValueError as e:
    print(e)

In [114]:
df.columns

Index(['bookId', 'title', 'series', 'author', 'rating', 'description',
       'language', 'isbn', 'genres', 'characters', 'bookFormat', 'edition',
       'pages', 'publisher', 'publishDate', 'firstPublishDate', 'awards',
       'numRatings', 'ratingsByStars', 'likedPercent', 'setting', 'coverImg',
       'bbeScore', 'bbeVotes', 'price', 'is_duplicate_isbn'],
      dtype='object')

In [115]:
def rm_duplicates(df):
    """
    Process a DataFrame by preserving rows with ISBN None 
    and removing duplicates in ISBN for other rows.

    :param df: Input DataFrame containing a column 'isbn'
    :return: Processed DataFrame with specified rows and no duplicates in ISBN
    :raises ValueError: If 'isbn' column is missing
    """
    try:
        if 'isbn' not in df.columns:
            raise ValueError("'isbn' column is missing in the DataFrame.")
        result_df = df[(df['isbn'] == None) | ~df.duplicated(subset='isbn', keep=False)]
        return result_df

    except Exception as e:
        print(f"No changes made. An error occurred: {e}.")
        return df

#Usage:
df = rm_duplicates(df)

Removing all new lines (\n) and leading and trailing whitespace from all rows

In [116]:
df = df.applymap(lambda r: r.strip() if type(r) == str else r)
df = df.applymap(lambda r: r.replace('\n', ' ') if type(r) == str else r)

This will get all the rows in ISBN that start with a letter:

In [117]:
# df[df['isbn'].str[0].str.isalpha()]

In [118]:
# df[df['description'].str[:4]== 'ISBN']

In [119]:
df.head(20)

,bookId,title,series,author,rating,description,language,isbn,genres,characters,...,awards,numRatings,ratingsByStars,likedPercent,setting,coverImg,bbeScore,bbeVotes,price,is_duplicate_isbn
0,2767052-the-hunger-games,The Hunger Games,The Hunger Games #1,Suzanne Collins,4.33,WINNING MEANS FAME AND FORTUNE.LOSING MEANS CE...,English,9780439023481,"['Young Adult', 'Fiction', 'Dystopia', 'Fantas...","['Katniss Everdeen', 'Peeta Mellark', 'Cato (H...",...,['Locus Award Nominee for Best Young Adult Boo...,6376780,"['3444695', '1921313', '745221', '171994', '93...",96.0,"['District 12, Panem', 'Capitol, Panem', 'Pane...",https://i.gr-assets.com/images/S/compressed.ph...,2993816,30516,5.09,False
1,2.Harry_Potter_and_the_Order_of_the_Phoenix,Harry Potter and the Order of the Phoenix,Harry Potter #5,"J.K. Rowling, Mary GrandPré (Illustrator)",4.50,There is a door at the end of a silent corrido...,English,9780439358071,"['Fantasy', 'Young Adult', 'Fiction', 'Magic',...","['Sirius Black', 'Draco Malfoy', 'Ron Weasley'...",...,['Bram Stoker Award for Works for Young Reader...,2507623,"['1593642', '637516', '222366', '39573', '14526']",98.0,['Hogwarts School of Witchcraft and Wizardry (...,https://i.gr-assets.com/images/S/compressed.ph...,2632233,26923,7.38,False
4,41865.Twilight,Twilight,The Twilight Saga #1,Stephenie Meyer,3.60,About three things I was absolutely positive.\...,English,9780316015844,"['Young Adult', 'Fantasy', 'Romance', 'Vampire...","['Edward Cullen', 'Jacob Black', 'Laurent', 'R...",...,"['Georgia Peach Book Award (2007)', 'Buxtehude...",4964519,"['1751460', '1113682', '1008686', '542017', '5...",78.0,"['Forks, Washington (United States)', 'Phoenix...",https://i.gr-assets.com/images/S/compressed.ph...,1459448,14874,2.1,False
5,19063.The_Book_Thief,The Book Thief,NaN,Markus Zusak (Goodreads Author),4.37,Librarian's note: An alternate cover edition c...,English,9780375831003,"['Historical Fiction', 'Fiction', 'Young Adult...","['Liesel Meminger', 'Hans Hubermann', 'Rudy St...",...,['National Jewish Book Award for Children’s an...,1834276,"['1048230', '524674', '186297', '48864', '26211']",96.0,"['Molching (Germany)', 'Germany']",https://i.gr-assets.com/images/S/compressed.ph...,1372809,14168,3.8,False
6,170448.Animal_Farm,Animal Farm,NaN,"George Orwell, Russell Baker (Preface), C.M. W...",3.95,Librarian's note: There is an Alternate Cover ...,English,9780451526342,"['Classics', 'Fiction', 'Dystopia', 'Fantasy',...","['Snowball', 'Napoleon', 'Clover', 'Boxer', 'O...",...,"['Prometheus Hall of Fame Award (2011)', 'Retr...",2740713,"['986764', '958699', '545475', '165093', '84682']",91.0,"['England', 'United Kingdom']",https://i.gr-assets.com/images/S/compressed.ph...,1276599,13264,4.42,False
8,30.J_R_R_Tolkien_4_Book_Boxed_Set,J.R.R. Tolkien 4-Book Boxed Set: The Hobbit an...,The Lord of the Rings #0-3,J.R.R. Tolkien,4.60,"This four-volume, boxed set contains J.R.R. To...",English,9780345538376,"['Fantasy', 'Fiction', 'Classics', 'Adventure'...","['Frodo Baggins', 'Gandalf', 'Bilbo Baggins', ...",...,[],110146,"['78217', '22857', '6628', '1477', '967']",98.0,['Middle-earth'],https://i.gr-assets.com/images/S/compressed.ph...,1159802,12111,21.15,False
9,18405.Gone_with_the_Wind,Gone with the Wind,NaN,Margaret Mitchell,4.30,"Scarlett O'Hara, the beautiful, spoiled daught...",English,9780446675536,"['Classics', 'Historical Fiction', 'Fiction', ...","[""Scarlett O'Hara"", 'Rhett Butler', 'Ashley Wi...",...,"['Pulitzer Prize for Novel (1937)', 'National ...",1074620,"['602138', '275517', '133535', '39008', '24422']",94.0,"['Atlanta, Georgia (United States)']",https://i.gr-assets.com/images/S/compressed.ph...,1087732,11211,5.58,False
12,370493.The_Giving_Tree,The Giving Tree,NaN,Shel Silverstein,4.37,"""Once there was a tree...and she loved a littl...",English,9780060256654,"['Childrens', 'Picture Books', 'Classics', 'Fi...",[],...,[],905731,"['556142', '204347', '94819', '27950', '22473']",94.0,[],https://i.gr-assets.com/images/S/compressed.ph...,1021534,10594,4.87,False
13,6185.Wuthering_Heights,Wuthering Heights,NaN,"Emily Brontë, Richard J. Dunn (Editor), David ...",3.86,You can find the redesigned cover of this edit...,English,9780393978896,"['Classics', 'Fiction', 'Romance', 'Gothic', '...","['Heathcliff', 'Catherine Earnshaw', 'Edgar Li...",...,[],1342664,"['483222', '413051', '279702', '107437', '59252']",88.0,"['Yorkshire Dales, England']",https://i.gr-assets.com/images/S/compressed.ph...,981502,10275,2.73,False
15,929.Memoirs_of_a_Geisha,Memoirs of a Geisha,NaN,Arthur Golden,4.12,"A literary sensation and runaway bestseller, t...",English,9781400096893,"['Fiction', 'Historical Fiction', 'Romance', '...","['Sayuri Nitta', 'Mr. Bekku', 'Ichiro Tanaka',...",...,[],1717312,"['712950', '615702', '295184', '66518', '26958']",95.0,"['Kyoto (Japan)', 'Japan']",https://i.gr-assets.com/images/S/compressed.ph...,862748,8993,2.76,False
17,24213.Alice_s_Adventures_in_Wonderland_Through...,Alice's Adventures in Wonderland & Through the...,Alice's Adventures in Wonderland #1-2,"Lewis Carroll, John Tenniel (Illustrator), Mar...",4.06,"""I can't explain myself, I'm afraid, sir,"" sai...",English,9780451527745,"['Classics', 'Fantasy', 'Fiction', 'Childrens'...","['The Hatter (Lewis Carroll)', 'The Queen of H...",...,[],458299,"['183179', '155059', '91573', '21360', '7128']",94.0,"['United Kingdom', 'England', 'Wonderland']",https://i.gr-assets.com/images/S/compressed.ph...,833791,8812,3.07,False
18,10210.Jane_Eyre,Jane Eyre,NaN,"Charlotte Brontë, Michael Mason (Editor), Barn...",4.13,"Orphaned as a child, Jane has felt an outcast ...",English,9780142437209,"['Classics', 'Fiction', 'Romance', 'Historical...","['Jane Eyre', 'Bertha Mason', 'Grace Poole', '...",...,[],1624682,"['746070', '501478', '256972', '76970', '43192']",93.0,"['Thornfield', 'England']",https://i.gr-assets.com/images/S/compressed.ph...,826759,8740,5.46,False
20,13079982-fahrenheit-451,Fahrenheit 451,NaN,Ray Bradbury,3.99,"Guy Montag is a fireman. In his world, where t...",English,B0064CPN7I,"['Classics', 'Fiction', 'Science Fiction', 'Dy...","['Guy Montag', 'Norman Corwin', 'Clarisse McCl...",...,"['Prometheus Hall of Fame Award (1984)', 'Geff...",1680139,"['612098', '604888', '331815', '91160', '40178']",92.0,[],https://i.gr-assets.com/images/S/compressed.ph...,793757,8537,NaN,False
21,13335037-divergent,Divergent,Divergent #1,Veronica Roth (Goodreads Author),4.19,"In Beatrice Prior's dystopian Chicago world, s...",English,9780062024039,"['Young Adult', 'Dystopia', 'Fiction', 'Fantas...","['Albert', 'Drew Leighton (Divergent)', 'Eric ...",...,"['Georgia Peach Book Award (2012)', 'South Car...",2906258,"['1409189', '882493', '434381', '123286', '569...",94.0,"['Chicago, Illinois (United States)']",https://i.gr-assets.com/images/S/compressed.ph...,793269,8339,0.88,False
22,7624.Lord_of_the_Flies,Lord of the Flies,NaN,William Golding,3.69,"At the dawn of the next world war, a plane cra...",English,9780140283334,"['Classics', 'Fiction', 'Young Adult', 'School...","['Ralph', 'Piggy', 'Roger', 'Jack Merridew', '...",...,[],2263259,"['617568', '763438', '555614', '205804', '1208...",86.0,[],https://i.gr-assets.com/images/S/compressed.ph...,773560,8230,1.89,False
23,18135.Romeo_and_Juliet,Romeo and Juliet,NaN,"William Shakespeare, Paul Werstine (Editor), B...",3.75,"In Romeo and Juliet, Shakespeare creates a vio...",English,9780743477116,"['Classics', 'Plays', 'Fiction', 'Romance', 'S...","['Romeo Montague', 'Juliet Capulet', 'Tybalt',...",...,[],2055102,"['616589', '635380', '545898', '184612', '72623']",87.0,"['Verona (Italy)', 'Italy']",https://i.gr-assets.com/images/S/compressed.ph...,771784,8282,6.79,False
24,18144590-the-alchemist,The Alchemist,NaN,"Paulo Coelho (Goodreads Author), Alan R. Clark...",3.88,Paulo Coelho's enchanting novel has inspired a...,English,9780062315007,"['Fiction', 'Classics', 'Fantasy', 'Philosophy...","['Santiago', 'Alchemist', 'Melchizedek']",...,['NBDB National Book Award Nominee for Transla...,2107732,"['805221', '613564', '414410', '172160', '1023...",87.0,"['Egypt', 'Sahara Desert', 'Tangier (Morocco)'...",https://i.gr-assets.com/images/S/compressed.ph...,765587,8008,13.22,False
25,7144.Crime_and_Punishment,Crime and Punishment,NaN,"Fyodor Dostoyevsky, David McDuff (Translator)",4.22,"Raskolnikov, a destitute and desperate former ...",English,9780143058144,"['Classics', 'Fiction', 'Russia', 'Literature'...","['Rodion Romanovich Raskolnikov', 'Porfiry Pet...",...,[],626897,"['315090', '188181', '84074', '26493', '13059']",94.0,"['Russian Empire', 'Saint Petersburg, Russian ...",https://i.gr-assets.com/images/S/compressed.ph...,759066,7937,18.85,False
28,256683.City_of_Bones,City of Bones,The Mortal Instruments #1,Cassandra Clare (Goodreads Author),4.10,When fifteen-year-old Clary Fray heads out to ...,English,9781416914280,"['Fantasy', 'Young Adult', 'Paranormal', 'Roma...","['Alexander ""Alec"" Lightwood', 'Jonathan ""Jace...",...,['Locus Award Nominee for Best First Novel (20...,1617465,"['745774', '465337', '271968', '87611', '46775']",92.0,"['New York City, New York (United States)']",https://i.gr-assets.com/images/S/compressed.ph...,721821,7601,6.29,False
29,375802.Ender_s_Game,Ender's Game,Ender's Saga #1,"Orson Scott Card, Stefan Rudnicki (Narrator), ...",4.30,"Andrew ""Ender"" Wiggin thinks he is playing com...",English,9780812550702,"['Science Fiction', 'Fiction', 'Young Adult', ...","['Dink', 'Bernard', 'Valentine Wiggin', 'Peter...",...,"['Hugo Award for Best Novel (1986)', 'Nebula A...",1131303,"['603209', '339819', '132305', '35667', '20303']",95.0,[],https://i.gr-assets.com/images/S/compressed.ph...,720651,7515,4.6,False

Filling ISBN field using ISBN from description field, if the ISBN field is 9999999999 or null:

Eventually rewrite this with error handling that will catch if wrong data type (non-str) is passed to the function

In [120]:
def extract_isbn(df):
    """
    Extract and move ISBN from the description to the ISBN field if the ISBN is '9999999999999' or null.

    The function applies a regex pattern to identify ISBNs from the description field and 
    moves them to the ISBN field.

    :param df: A DataFrame containing 'isbn' and 'description' columns
    :return: The modified DataFrame
    :raises ValueError: If 'isbn' or 'description' columns are missing
    """

    if 'isbn' not in df.columns:
        raise ValueError("'isbn' column is missing in the DataFrame.")
    if 'description' not in df.columns:
        raise ValueError("'description' column is missing in the DataFrame.")

    # First regex pattern matches 13 digits optionally preceded and followed by a non-digit character
    # Second regex pattern matches 10 digits optionally preceded and followed by a non-digit character
    # Third regex pattern matches "B" and a specific pattern of 4 digits, 3 uppercase letters, 1 digit, and 1 uppercase letter: B1234XYZ7A
    # Fourth regex matches the pattern "978-", followed by one digit, and then a sequence of either digits or dashes that is at least 9 and at most 13 characters long: 978-3-16-148410-0

    isbn_pattern = (r'((?:\D)?(\d{13})(?:\D)?|(?:\D)?(\d{10})(?:\D)?|'
                    r'B\d{4}[A-Z]{3}\d{1}[A-Z]|978-\d[-\d]{9,13})')

    mask = (df['isbn'] == '9999999999999') | pd.isnull(df['isbn'])
    descriptions = df.loc[mask, 'description'].astype(str)

    extracted_isbns = descriptions.str.extract(isbn_pattern)[0].str.replace('-', '')  # Extract ISBNs and remove dashes
    mask_first_char = ~extracted_isbns.str[0].str.isdigit()
    extracted_isbns = extracted_isbns.str[1:].where(mask_first_char, extracted_isbns)

    mask_last_char = ~extracted_isbns.str[-1].str.isdigit()  # Remove non-digit last character if exists
    extracted_isbns = extracted_isbns.str[:-1].where(mask_last_char, extracted_isbns)

    df.loc[mask, 'isbn'] = extracted_isbns

    return df

df = extract_isbn(df)

In [121]:
filtered_df = df[(df['isbn'] != '9999999999999') & ~df['isbn'].isnull()]
filtered_df.shape

(48064, 26)

Splitting out the int after the title in series into a separate series_num column: Adds to new series_num column, removes number from series column
We're not making series_num an int, bc some cases have a range of nums, e.g. 1-3

In [122]:
# adding the series_num column: 
df['series_num'] = None

In [123]:
def extract_series_num(df):
    """
    Extract the series number from the 'series' column in a DataFrame.

    The function looks for the pattern following a '#' character in the 'series' column,
    extracts the series number into a new column named 'series_num', and then removes
    the matched pattern from the 'series' column, along with any leading and trailing
    whitespace.

    Parameters:
    df (pd.DataFrame): DataFrame containing the 'series' column to extract from.

    Returns:
    pd.DataFrame: DataFrame with the added 'series_num' column and modified 'series' column.

    Raises:
    ValueError: If 'series' column is not found in the DataFrame or an error occurs while extracting the series number.
    """

    if 'series' not in df.columns:
        raise ValueError("'series' column missing from the DataFrame.")

    # This regex matches the character that comes after the '#' in the series column
    series_int_pattern = r'(#.*)'
    try:
        serieses = df['series'].astype(str)
        extracted_series_num = serieses.str.extract(series_int_pattern)[0]
        extracted_series_num = extracted_series_num.str.replace('#', '')
        df['series_num'] = extracted_series_num
        df['series'] = df['series'].str.replace(series_int_pattern, '', regex=True).str.strip()
    except Exception as e:
        raise ValueError("An error occurred while extracting series number.") from e

    return df

df = extract_series_num(df)

In [124]:
df[['series', 'series_num']].head(20)

                              series series_num
0                   The Hunger Games          1
1                       Harry Potter          5
4                  The Twilight Saga          1
5                                NaN        NaN
6                                NaN        NaN
8              The Lord of the Rings        0-3
9                                NaN        NaN
12                               NaN        NaN
13                               NaN        NaN
15                               NaN        NaN
17  Alice's Adventures in Wonderland        1-2
18                               NaN        NaN
20                               NaN        NaN
21                         Divergent          1
22                               NaN        NaN
23                               NaN        NaN
24                               NaN        NaN
25                               NaN        NaN
28            The Mortal Instruments          1
29                      Ender's Saga          1

In [125]:
print(df.bookId.shape)
df.bookId.unique().shape

(48064,)

(48064,)

In [126]:
# df['bookFormat'].value_counts()

Validation for dates - checking for cases where publish date is earlier than first publish date. 

First you need to figure out what the actual format is. Then remove all non-dates. Then set the data type. Then check for cases where publish date is earlier than first publish date.

In [127]:

df[['publishDate', 'firstPublishDate']] = df[['publishDate', 'firstPublishDate']].apply(lambda x: pd.to_datetime(x, format='%m/%d/%y', errors='coerce')).apply(lambda x: x.dt.normalize())

In [128]:
def fix_dates(df):
    """
    Correct the 'firstPublishDate' and 'publishDate' in the DataFrame by:
    - Subtracting 100 years from 'firstPublishDate' if greater than today's date.
    - Subtracting 100 years from 'publishDate' if greater than today's date.
    - Subtracting 100 years from 'firstPublishDate' if greater than 'publishDate'.

    :param df: DataFrame containing the 'firstPublishDate' and 'publishDate' columns.
    :type df: pd.DataFrame
    :return: None
    :raises ValueError: If 'firstPublishDate' or 'publishDate' columns are not in DataFrame.
    """
    if 'firstPublishDate' not in df.columns or 'publishDate' not in df.columns:
        raise ValueError("'firstPublishDate' or 'publishDate' columns missing from the DataFrame.")
        
    # Identify rows where firstPublishDate is greater than today and subtract 100 years
    mask_first_publish_date = df['firstPublishDate'] > pd.Timestamp.today()
    df.loc[mask_first_publish_date, 'firstPublishDate'] -= DateOffset(years=100)

    # Identify rows where publishDate is greater than today and subtract 100 years
    mask_publish_date = df['publishDate'] > pd.Timestamp.today()
    df.loc[mask_publish_date, 'publishDate'] -= DateOffset(years=100)

    # Identify rows where firstPublishDate is greater than publishDate and subtract 100 years
    mask_first_publish_vs_publish = df['firstPublishDate'] > df['publishDate']
    df.loc[mask_first_publish_vs_publish, 'firstPublishDate'] -= DateOffset(years=100)

fix_dates(df)

In [129]:
df[['publishDate', 'firstPublishDate']].head(10)

   publishDate firstPublishDate
0   2008-09-14              NaT
1   2004-09-28       2003-06-21
4   2006-09-06       2005-10-05
5   2006-03-14       2005-09-01
6   1996-04-28       1945-08-17
8   2012-09-25       1955-10-20
9   1999-04-01       1936-06-30
12  1964-10-07       1864-10-28
13  2002-10-28       1947-12-28
15  2005-11-22       1997-09-23

In [130]:
# df['publishDate'].dtypes

In [131]:
# df.shape

In [132]:
# rows_with_nulls = df[df.isnull().sum(axis=1) >= 13]
# print(rows_with_nulls)

Strip whitespace one more time:

In [133]:

df = df.applymap(lambda r: r.strip() if type(r) == str else r)

Adding new edition_id column to df, bc we will drop bookId column:

In [134]:
df['edition_id'] = df.index

In [135]:
df.columns

Index(['bookId', 'title', 'series', 'author', 'rating', 'description',
       'language', 'isbn', 'genres', 'characters', 'bookFormat', 'edition',
       'pages', 'publisher', 'publishDate', 'firstPublishDate', 'awards',
       'numRatings', 'ratingsByStars', 'likedPercent', 'setting', 'coverImg',
       'bbeScore', 'bbeVotes', 'price', 'is_duplicate_isbn', 'series_num',
       'edition_id'],
      dtype='object')

In [136]:
df[df['title'] == 'Animal Farm']

,bookId,title,series,author,rating,description,language,isbn,genres,characters,...,ratingsByStars,likedPercent,setting,coverImg,bbeScore,bbeVotes,price,is_duplicate_isbn,series_num,edition_id
6,170448.Animal_Farm,Animal Farm,NaN,"George Orwell, Russell Baker (Preface), C.M. W...",3.95,Librarian's note: There is an Alternate Cover ...,English,9780451526342,"['Classics', 'Fiction', 'Dystopia', 'Fantasy',...","['Snowball', 'Napoleon', 'Clover', 'Boxer', 'O...",...,"['986764', '958699', '545475', '165093', '84682']",91.0,"['England', 'United Kingdom']",https://i.gr-assets.com/images/S/compressed.ph...,1276599,13264,4.42,False,NaN,6
47085,253305.Animal_Farm,Animal Farm,NaN,"Ian Wooldridge (Adapted by), George Orwell",4.07,George Orwell’s 1945 satire on the perils of S...,English,9781854597892,"['Fiction', 'Classics', 'Dystopia', 'Classic L...",[],...,"['207', '167', '75', '23', '17']",92.0,[],https://i.gr-assets.com/images/S/compressed.ph...,58,1,2.49,False,NaN,47085

In [137]:
duplicate_rows = df[df.duplicated('title', keep=False)]
duplicate_rows.shape

(3676, 28)

Creating edition df, and changing column names:

In [138]:
name_map = {
    'numRatings': 'num_ratings', 
    'likedPercent': 'liked_percent', 
    'bbeScore': 'bbe_score',
    'bbeVotes': 'bbe_votes',
    'bookFormat': 'format',
    'publishDate': 'publish_date',
    'coverImg': 'cover_url',
    'characters': 'char_name'
    }

In [139]:
edition_df = df[['isbn', 'rating', 'numRatings', 'likedPercent', 'bbeScore', 'bbeVotes', 'bookFormat', 'edition', 'publishDate', 'description', 'language', 'pages', 'publisher', 'coverImg', 'price', 'edition_id', 'is_duplicate_isbn']].copy()
edition_df.rename(columns=name_map, inplace=True)

In [140]:
edition_df.head()

,isbn,rating,num_ratings,liked_percent,bbe_score,bbe_votes,format,edition,publish_date,description,language,pages,publisher,cover_url,price,edition_id,is_duplicate_isbn
0,9780439023481,4.33,6376780,96.0,2993816,30516,Hardcover,First Edition,2008-09-14,WINNING MEANS FAME AND FORTUNE.LOSING MEANS CE...,English,374,Scholastic Press,https://i.gr-assets.com/images/S/compressed.ph...,5.09,0,False
1,9780439358071,4.50,2507623,98.0,2632233,26923,Paperback,US Edition,2004-09-28,There is a door at the end of a silent corrido...,English,870,Scholastic Inc.,https://i.gr-assets.com/images/S/compressed.ph...,7.38,1,False
4,9780316015844,3.60,4964519,78.0,1459448,14874,Paperback,NaN,2006-09-06,About three things I was absolutely positive.\...,English,501,"Little, Brown and Company",https://i.gr-assets.com/images/S/compressed.ph...,2.1,4,False
5,9780375831003,4.37,1834276,96.0,1372809,14168,Hardcover,First American Edition,2006-03-14,Librarian's note: An alternate cover edition c...,English,552,Alfred A. Knopf,https://i.gr-assets.com/images/S/compressed.ph...,3.8,5,False
6,9780451526342,3.95,2740713,91.0,1276599,13264,Mass Market Paperback,NaN,1996-04-28,Librarian's note: There is an Alternate Cover ...,English,141,Signet Classics,https://i.gr-assets.com/images/S/compressed.ph...,4.42,6,False

Changing all fields in df that contain a string that looks like a list literals into actual lists:

In [141]:
def apply_literal_eval(df, cols):
    """
    Apply literal evaluation to specified columns of a DataFrame.

    Parameters:
    df (pd.DataFrame): The DataFrame to apply the transformation to.
    cols (list): A list of columns on which to apply ast.literal_eval.

    Returns:
    pd.DataFrame: DataFrame with the transformed columns.

    Raises:
    ValueError: If any column does not exist in the DataFrame or an error occurs while applying ast.literal_eval.
    """

    for col in cols:
        if col not in df.columns:
            raise ValueError(f"Column '{col}' not found in DataFrame.")

        try:
            df[col] = df[col].apply(ast.literal_eval)
        except Exception as e:
            raise ValueError(f"An error occurred while applying ast.literal_eval to column '{col}'.") from e

    return df

# Usage:
cols = ['genres', 'characters', 'awards', 'ratingsByStars', 'setting']
df = apply_literal_eval(df, cols)

In [142]:
df["genres"].head()

0    [Young Adult, Fiction, Dystopia, Fantasy, Scie...
1    [Fantasy, Young Adult, Fiction, Magic, Childre...
4    [Young Adult, Fantasy, Romance, Vampires, Fict...
5    [Historical Fiction, Fiction, Young Adult, His...
6    [Classics, Fiction, Dystopia, Fantasy, Literat...
Name: genres, dtype: object

Creating genre df, stripping whitespace, then filling columns

In [143]:
def create_genre_df(df):
    """
    Create a DataFrame by transforming the 'genres' column of the given DataFrame.
    The 'genres' column is assumed to contain lists of genres, and this function
    separates each genre into its own row.

    Parameters:
    df (pd.DataFrame): The DataFrame containing the 'edition_id' and 'genres' columns.

    Returns:
    pd.DataFrame: A new DataFrame with columns 'edition_id' and 'genre', where each genre is in its own row.

    Raises:
    ValueError: If the required columns are not found in the DataFrame or an error occurs while processing.
    """

    if 'edition_id' not in df.columns or 'genres' not in df.columns:
        raise ValueError("'edition_id' and 'genres' columns must be present in the DataFrame.")

    try:
        genre_df = df[['edition_id', 'genres']].copy()
        genre_df['genres'] = genre_df['genres'].apply(lambda genres: [genre.strip() for genre in genres])
        genre_df = genre_df.explode('genres')
        genre_df.rename(columns={'genres': 'genre'}, inplace=True)
    except Exception as e:
        raise ValueError("An error occurred while creating the genre DataFrame.") from e

    return genre_df

# Usage
genre_df = create_genre_df(df)

In [144]:
genre_df.head(20)

   edition_id                    genre
0           0              Young Adult
0           0                  Fiction
0           0                 Dystopia
0           0                  Fantasy
0           0          Science Fiction
0           0                  Romance
0           0                Adventure
0           0                     Teen
0           0         Post Apocalyptic
0           0                   Action
1           1                  Fantasy
1           1              Young Adult
1           1                  Fiction
1           1                    Magic
1           1                Childrens
1           1                Adventure
1           1                Audiobook
1           1             Middle Grade
1           1                 Classics
1           1  Science Fiction Fantasy

Creating character df and stripping whitespace:

In [170]:
def create_char_df(df):
    """
    Create a DataFrame by transforming the 'characters' column of the given DataFrame.
    The 'characters' column is assumed to contain lists of character names, and this function
    separates each character into its own row.

    Parameters:
    df (pd.DataFrame): The DataFrame containing the 'edition_id' and 'characters' columns.

    Returns:
    pd.DataFrame: A new DataFrame with columns 'edition_id' and 'char_name', where each character name is in its own row.

    Raises:
    ValueError: If the required columns are not found in the DataFrame or an error occurs while processing.
    """

    if 'edition_id' not in df.columns or 'characters' not in df.columns:
        raise ValueError("'edition_id' and 'characters' columns must be present in the DataFrame.")

    try:
        char_df = df[['edition_id', 'characters']].copy()
        char_df['characters'] = char_df['characters'].apply(lambda characters: [character.strip() for character in characters])
        char_df = char_df.explode('characters')
        char_df.rename(columns={'characters': 'char_name'}, inplace=True)
    except Exception as e:
        raise ValueError("An error occurred while creating the character DataFrame.") from e

    return char_df

# Example usage:
char_df = create_char_df(df)

In [172]:
char_df.head(20)

   edition_id                  char_name
0           0           Katniss Everdeen
0           0              Peeta Mellark
0           0        Cato (Hunger Games)
0           0          Primrose Everdeen
0           0             Gale Hawthorne
0           0              Effie Trinket
0           0         Haymitch Abernathy
0           0                      Cinna
0           0  President Coriolanus Snow
0           0                        Rue
0           0                    Flavius
0           0     Lavinia (Hunger Games)
0           0                     Marvel
0           0                    Glimmer
0           0                      Clove
0           0                    Foxface
0           0                     Thresh
0           0                 Greasy Sae
0           0             Madge Undersee
0           0          Caesar Flickerman

Creating setting df and stripping whitespace:

In [173]:
def create_setting_df(df):
    """
    Create a DataFrame by transforming the 'setting' column of the given DataFrame.
    The 'setting' column is assumed to contain lists of settings, and this function
    separates each setting into its own row.

    Parameters:
    df (pd.DataFrame): The DataFrame containing the 'edition_id' and 'setting' columns.

    Returns:
    pd.DataFrame: A new DataFrame with columns 'edition_id' and 'setting', where each setting is in its own row.

    Raises:
    ValueError: If the required columns are not found in the DataFrame or an error occurs while processing.
    """

    if 'edition_id' not in df.columns or 'setting' not in df.columns:
        raise ValueError("'edition_id' and 'setting' columns must be present in the DataFrame.")

    try:
        setting_df = df[['edition_id', 'setting']].copy()
        setting_df['setting'] = setting_df['setting'].apply(lambda settings: [setting.strip() for setting in settings])
        setting_df = setting_df.explode('setting')
    except Exception as e:
        raise ValueError("An error occurred while creating the setting DataFrame.") from e

    return setting_df

# Example usage:
setting_df = create_setting_df(df)

In [174]:
setting_df.head(20)

    edition_id                                            setting
0            0                                 District 12, Panem
0            0                                     Capitol, Panem
0            0                              Panem (United States)
1            1  Hogwarts School of Witchcraft and Wizardry (Un...
1            1                                    London, England
4            4                  Forks, Washington (United States)
4            4                   Phoenix, Arizona (United States)
4            4                 Washington (state) (United States)
5            5                                 Molching (Germany)
5            5                                            Germany
6            6                                            England
6            6                                     United Kingdom
8            8                                       Middle-earth
9            9                   Atlanta, Georgia (United States)
12          12                                                NaN
13          13                           Yorkshire Dales, England
15          15                                      Kyoto (Japan)
15          15                                              Japan
17          17                                     United Kingdom
17          17                                            England

Creating star rating df and stripping whitespace: 
In this df, I have sliced off data where we are missing 1 or more fields from ratingsByStars, because I see no way to know which star rating the missing data belongs to.

In [175]:
def create_star_rating_df(df):
    """
    Create a DataFrame by transforming the 'ratingsByStars' column of the given DataFrame.
    The 'ratingsByStars' column is assumed to contain lists of star ratings, and this function
    extracts these ratings into individual columns.

    Parameters:
    df (pd.DataFrame): The DataFrame containing the 'edition_id' and 'ratingsByStars' columns.

    Returns:
    pd.DataFrame: A new DataFrame with columns 'edition_id', 'five_star', 'four_star', 'three_star', 'two_star', and 'one_star'.

    Raises:
    ValueError: If the required columns are not found in the DataFrame or an error occurs while processing.
    """

    if 'edition_id' not in df.columns or 'ratingsByStars' not in df.columns:
        raise ValueError("'edition_id' and 'ratingsByStars' columns must be present in the DataFrame.")

    try:
        # Ensure the 'ratingsByStars' column is a list of lists
        if df['ratingsByStars'].apply(type).eq(str).all():
            df['ratingsByStars'] = df['ratingsByStars'].apply(eval)

        # Create a mask where 'ratingsByStars' length is 5
        mask = df['ratingsByStars'].apply(len) == 5

        # Extract the 'ratingsByStars' values where the mask is True
        ratings_data = pd.DataFrame(df.loc[mask, 'ratingsByStars'].tolist(),
                                    columns=['five_star', 'four_star', 'three_star', 'two_star', 'one_star'])

        # Include the 'edition_id' column
        star_rating_df = ratings_data.assign(edition_id=df.loc[mask, 'edition_id'].values).reset_index(drop=True)

        # Optionally, strip any white spaces from string columns
        star_rating_df = star_rating_df.applymap(lambda r: r.strip() if isinstance(r, str) else r)
    except Exception as e:
        raise ValueError("An error occurred while creating the star rating DataFrame.") from e

    return star_rating_df

# Example usage:
star_rating_df = create_star_rating_df(df)

In [176]:
star_rating_df.head(10)

  five_star four_star three_star two_star one_star  edition_id
0   3444695   1921313     745221   171994    93557           0
1   1593642    637516     222366    39573    14526           1
2   1751460   1113682    1008686   542017   548674           4
3   1048230    524674     186297    48864    26211           5
4    986764    958699     545475   165093    84682           6
5     78217     22857       6628     1477      967           8
6    602138    275517     133535    39008    24422           9
7    556142    204347      94819    27950    22473          12
8    483222    413051     279702   107437    59252          13
9    712950    615702     295184    66518    26958          15

In [177]:
# # Duplicated star ratings:
# duplicated_star_ratings = star_rating_df[star_rating_df.duplicated(keep=False)]
# duplicated_star_ratings

Creating award df:

In [178]:
def create_award_df(df):
    """
    Create a DataFrame by transforming the 'awards' column of the given DataFrame.
    The 'awards' column is assumed to contain lists of awards, and this function
    explodes these lists into individual rows.

    Parameters:
    df (pd.DataFrame): The DataFrame containing the 'edition_id' and 'awards' columns.

    Returns:
    pd.DataFrame: A new DataFrame with columns 'edition_id' and 'award'.

    Raises:
    ValueError: If the required columns are not found in the DataFrame or an error occurs while processing.
    """

    if 'edition_id' not in df.columns or 'awards' not in df.columns:
        raise ValueError("'edition_id' and 'awards' columns must be present in the DataFrame.")

    try:
        award_df = df[['edition_id', 'awards']].copy()
        award_df = award_df.explode('awards')
        award_df = award_df.rename(columns={'awards': 'award'})
    except Exception as e:
        raise ValueError("An error occurred while creating the award DataFrame.") from e

    return award_df

# Example usage:
award_df = create_award_df(df)

In [179]:
award_df.head()

   edition_id                                              award
0           0  Locus Award Nominee for Best Young Adult Book ...
0           0                    Georgia Peach Book Award (2009)
0           0                            Buxtehuder Bulle (2009)
0           0  Golden Duck Award for Young Adult (Hal Clement...
0           0  Grand Prix de l'Imaginaire Nominee for Roman j...

Splitting out year from award field and remove from award field and stripping whitespace::

In [180]:
def split_year(award_df):
    """
    Splits the 'award' column of the given DataFrame into 'award' and 'year' columns.
    The 'year' is extracted from the 'award' string using a regular expression pattern
    for years enclosed in parentheses.

    Parameters:
    award_df (pd.DataFrame): The DataFrame containing the 'award' column.

    Returns:
    pd.DataFrame: A new DataFrame with 'award' and 'year' columns.

    Raises:
    ValueError: If the required column is not found in the DataFrame or an error occurs while processing.
    """

    if 'award' not in award_df.columns:
        raise ValueError("'award' column must be present in the DataFrame.")

    try:
        year_pattern = r'\((\d{4})\)'
        award_df['year'] = award_df['award'].str.extract(year_pattern)
        award_df['award'] = award_df['award'].str.replace(year_pattern, '', regex=True)
        award_df = award_df.applymap(lambda r: r.strip() if isinstance(r, str) else r)
    except Exception as e:
        raise ValueError("An error occurred while splitting the year from the award column.") from e

    return award_df

# Example usage:
award_df = split_year(award_df)

In [181]:
award_df.head(10)

   edition_id                                              award  year
0           0      Locus Award Nominee for Best Young Adult Book  2009
0           0                           Georgia Peach Book Award  2009
0           0                                   Buxtehuder Bulle  2009
0           0  Golden Duck Award for Young Adult (Hal Clement...  2009
0           0  Grand Prix de l'Imaginaire Nominee for Roman j...  2010
0           0  Books I Loved Best Yearly (BILBY) Awards for O...  2012
0           0  West Australian Young Readers' Book Award (WAY...  2010
0           0  Red House Children's Book Award for Older Read...  2010
0           0  South Carolina Book Award for Junior and Young...  2011
0           0                                    Charlotte Award  2010

Creating creator df:

In [182]:
def create_creator_df(df):
    """
    Creates a DataFrame containing the 'edition_id' and 'creator' columns by splitting
    and exploding the 'author' column from the given DataFrame.

    Parameters:
    df (pd.DataFrame): The DataFrame containing the 'edition_id' and 'author' columns.

    Returns:
    pd.DataFrame: A new DataFrame with 'edition_id' and 'creator' columns.

    Raises:
    ValueError: If the required columns are not found in the DataFrame.
    """

    if 'edition_id' not in df.columns or 'author' not in df.columns:
        raise ValueError("'edition_id' and 'author' columns must be present in the DataFrame.")

    creator_df = df[['edition_id', 'author']].copy()
    creator_df['author'] = creator_df['author'].apply(lambda author: author.split(', ') if isinstance(author, str) else author)
    creator_df = creator_df.explode('author')
    creator_df.rename(columns={'author': 'creator'}, inplace=True)
    return creator_df

# Example usage:
creator_df = create_creator_df(df)

In [183]:
creator_df.head(20)

    edition_id                          creator
0            0                  Suzanne Collins
1            1                     J.K. Rowling
1            1      Mary GrandPré (Illustrator)
4            4                  Stephenie Meyer
5            5  Markus Zusak (Goodreads Author)
6            6                    George Orwell
6            6          Russell Baker (Preface)
6            6    C.M. Woodhouse (Introduction)
8            8                   J.R.R. Tolkien
9            9                Margaret Mitchell
12          12                 Shel Silverstein
13          13                     Emily Brontë
13          13         Richard J. Dunn (Editor)
13          13          David Timson (Narrator)
13          13    Charlotte Brontë (Commentary)
13          13     Robert Heindel (Illustrator)
15          15                    Arthur Golden
17          17                    Lewis Carroll
17          17       John Tenniel (Illustrator)
17          17    Martin Gardner (Introduction)

Splitting out role information into new column and stripping whitespace:

In [184]:
def split_role(creator_df):
    """
    Splits the 'creator' column into 'creator' and 'role' by extracting the role within parentheses.

    Parameters:
    creator_df (pd.DataFrame): The DataFrame containing the 'creator' column.

    Returns:
    pd.DataFrame: A new DataFrame with 'creator' and 'role' columns.

    Raises:
    ValueError: If the 'creator' column is not found in the DataFrame.
    """

    if 'creator' not in creator_df.columns:
        raise ValueError("'creator' column must be present in the DataFrame.")

    role_pattern = r'\((.*?)\)'
    creator_df['role'] = creator_df['creator'].str.extract(role_pattern)
    creator_df['creator'] = creator_df['creator'].str.replace(role_pattern, '', regex=True)
    creator_df = creator_df.applymap(lambda r: r.strip() if isinstance(r, str) else r)

    return creator_df

# Example usage:
creator_df = split_role(creator_df)

In [185]:
creator_df.head(20)

    edition_id            creator              role
0            0    Suzanne Collins               NaN
1            1       J.K. Rowling               NaN
1            1      Mary GrandPré       Illustrator
4            4    Stephenie Meyer               NaN
5            5       Markus Zusak  Goodreads Author
6            6      George Orwell               NaN
6            6      Russell Baker           Preface
6            6     C.M. Woodhouse      Introduction
8            8     J.R.R. Tolkien               NaN
9            9  Margaret Mitchell               NaN
12          12   Shel Silverstein               NaN
13          13       Emily Brontë               NaN
13          13    Richard J. Dunn            Editor
13          13       David Timson          Narrator
13          13   Charlotte Brontë        Commentary
13          13     Robert Heindel       Illustrator
15          15      Arthur Golden               NaN
17          17      Lewis Carroll               NaN
17          17       John Tenniel       Illustrator
17          17     Martin Gardner      Introduction

In [186]:
df.columns

Index(['bookId', 'title', 'series', 'author', 'rating', 'description',
       'language', 'isbn', 'genres', 'characters', 'bookFormat', 'edition',
       'pages', 'publisher', 'publishDate', 'firstPublishDate', 'awards',
       'numRatings', 'ratingsByStars', 'likedPercent', 'setting', 'coverImg',
       'bbeScore', 'bbeVotes', 'price', 'is_duplicate_isbn', 'series_num',
       'edition_id'],
      dtype='object')

(If I were doing this again, I'd go back and create this name map at the start and immediately change the names. But I've used these variables in too many other places.)

Creating book_df:

In [240]:
def create_book_df(df, name_map):
    """
    Creates a DataFrame with selected columns and renames them according to a given mapping.

    Parameters:
    df (pd.DataFrame): The original DataFrame containing book information.
    name_map (dict): A dictionary that maps the original column names to new names.

    Returns:
    pd.DataFrame: A new DataFrame with selected and renamed columns.

    Raises:
    KeyError: If any of the specified columns are not found in the DataFrame.
    """

    # Columns to be selected
    selected_columns = ['edition_id', 'title', 'firstPublishDate', 'series', 'series_num']

    # Check if all selected columns exist in the DataFrame
    if not all(col in df.columns for col in selected_columns):
        raise KeyError("Some of the selected columns were not found in the DataFrame.")

    book_df = df[selected_columns].copy()

    # Check if all keys in the name_map are in the selected columns
    if not all(key in selected_columns for key in name_map.keys()):
        raise KeyError("Some keys in the name_map were not found in the selected columns.")

    book_df.rename(columns=name_map, inplace=True)

    return book_df

# Example usage:
name_map = {'firstPublishDate': 'first_publish_date'}
book_df = create_book_df(df, name_map)

In [241]:
book_df.head()

,edition_id,title,first_publish_date,series,series_num
0,0,The Hunger Games,NaT,The Hunger Games,1
1,1,Harry Potter and the Order of the Phoenix,2003-06-21,Harry Potter,5
4,4,Twilight,2005-10-05,The Twilight Saga,1
5,5,The Book Thief,2005-09-01,NaN,NaN
6,6,Animal Farm,1945-08-17,NaN,NaN

In [199]:
## Creating tables

Creating edition table with dtypes

In [200]:
filtered_edition_df = genre_df[genre_df['genre'].astype(str).apply(len) > 25]
filtered_edition_df

       edition_id                         genre
536           536  The United States Of America
546           546  The United States Of America
718           718  The United States Of America
799           799  The United States Of America
1041         1041  The United States Of America
...           ...                           ...
52151       52151   African American Literature
52187       52187  The United States Of America
52207       52207  The United States Of America
52347       52347  The United States Of America
52352       52352  The United States Of America

[829 rows x 2 columns]

In [201]:
for col in setting_df.columns:
    print(f'{col}: {setting_df[col].astype(str).apply(len).max()}, dtype: {setting_df[col].dtype}')

edition_id: 5, dtype: int64
setting: 87, dtype: object

In [250]:
%%sql

DROP TABLE IF EXISTS edition CASCADE;
CREATE TABLE edition (
    edition_id serial PRIMARY KEY,
    isbn varchar(13),
    rating real,
    num_ratings bigint,
    liked_percent real,
    bbe_score bigint,
    bbe_votes bigint,
    format varchar(64),
    edition varchar(400),
    publish_date date,
    description varchar(30000),
    language varchar(64),
    pages smallint,
    publisher varchar(250),
    cover_url varchar(250),
    price real,
    is_duplicate_isbn boolean
);

 * postgresql://postgres:***@localhost/books
Done.
Done.

[]

Creating genre table with dtypes

In [251]:
%%sql

DROP TABLE IF EXISTS genre;
CREATE TABLE genre (
    edition_id bigint NOT NULL, 
    FOREIGN KEY (edition_id) REFERENCES edition(edition_id),
    genre varchar(40)
);

 * postgresql://postgres:***@localhost/books
Done.
Done.

[]

In [252]:
for col in char_df.columns:
    print(f'{col}: {char_df[col].astype(str).apply(len).max()}, dtype: {char_df[col].dtype}')

edition_id: 5, dtype: int64
char_name: 128, dtype: object

Creating character table & datatypes

In [253]:
%%sql

DROP TABLE IF EXISTS character;
CREATE TABLE character (
    edition_id bigint NOT NULL,
    FOREIGN KEY (edition_id) REFERENCES edition (edition_id),
    char_name varchar(255)
    );

 * postgresql://postgres:***@localhost/books
Done.
Done.

[]

Creating setting table:

In [254]:
%%sql

DROP TABLE IF EXISTS setting;
CREATE table setting (
    edition_id bigint NOT NULL,
    FOREIGN KEY (edition_id) REFERENCES edition(edition_id),
    setting varchar(100)
);

 * postgresql://postgres:***@localhost/books
Done.
Done.

[]

Creating star_rating table:

In [255]:
%%sql

DROP TABLE IF EXISTS star_rating;
CREATE TABLE star_rating (
    edition_id bigint NOT NULL,
    FOREIGN KEY (edition_id) REFERENCES edition(edition_id),
    five_star bigint,
    four_star bigint,
    three_star bigint,
    two_star bigint,
    one_star bigint
    );

 * postgresql://postgres:***@localhost/books
Done.
Done.

[]

Creating award table:

In [256]:
%%sql

DROP TABLE IF EXISTS award;
CREATE TABLE award (
    edition_id bigint NOT NULL,
    FOREIGN KEY (edition_id) REFERENCES edition(edition_id),
    award varchar(400),
    award_year smallint
);

 * postgresql://postgres:***@localhost/books
Done.
Done.

[]

In [257]:
%%sql

DROP TABLE IF EXISTS creator;
CREATE TABLE creator (
    edition_id bigint NOT NULL,
    FOREIGN KEY (edition_id) REFERENCES edition (edition_id),
    creator_name varchar(128),
    role varchar(64)
);

 * postgresql://postgres:***@localhost/books
Done.
Done.

[]

Creating book table:

In [258]:
max_len = book_df['series_num'].astype(str).apply(len).max()
max_len

32

In [259]:
%%sql

DROP TABLE IF EXISTS book;
CREATE TABLE book (
    edition_id bigint NOT NULL,
    FOREIGN KEY (edition_id) REFERENCES edition (edition_id),
    title varchar(400),
    first_publish_date date,
    series varchar(128),
    series_num varchar(64)
);

 * postgresql://postgres:***@localhost/books
Done.
Done.

[]

Loading data from dfs into tables:

In [260]:
# Create sqlalchemy engine
engine = create_engine(f"postgresql+psycopg2://{DB_USER}:{DB_PASSWORD}@localhost/books")

In [262]:
edition_df.to_sql('edition', engine, if_exists='append', index=False)

DataError: (psycopg2.errors.InvalidTextRepresentation) invalid input syntax for type smallint: "1 page"
LINE 50: ...SongA Common Life: The Wedding Story', 'English', '1 page', ...
                                                              ^

[SQL: INSERT INTO edition (isbn, rating, num_ratings, liked_percent, bbe_score, bbe_votes, format, edition, publish_date, description, language, pages, publisher, cover_url, price, edition_id, is_duplicate_isbn) VALUES (%(isbn__0)s, %(rating__0)s, %(num_ra ... 337991 characters truncated ... blisher__999)s, %(cover_url__999)s, %(price__999)s, %(edition_id__999)s, %(is_duplicate_isbn__999)s)]
[parameters: {'pages__0': '773', 'bbe_score__0': 1011, 'isbn__0': '9780312423209', 'language__0': 'English', 'liked_percent__0': 92.0, 'rating__0': 4.08, 'edition_id__0': 3301, 'format__0': 'Paperback', 'edition__0': None, 'is_duplicate_isbn__0': False, 'publisher__0': 'Picador USA', 'cover_url__0': 'https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1386925333l/413.jpg', 'bbe_votes__0': 13, 'publish_date__0': None, 'price__0': '7.78', 'num_ratings__0': 9315, 'description__0': "The New York Times Best Book of the Year, 1997Time Magazine Best Book of the Year 1997Charles Mason (1728-1786) and Jeremiah Dixon (1733-1779) were t ... (620 characters truncated) ... r of the Enlightenment's dark hemisphere, as they observe and participate in the many opportunities for insanity presented them by the Age of Reason.", 'pages__1': '303', 'bbe_score__1': 1011, 'isbn__1': '9780544272996', 'language__1': 'English', 'liked_percent__1': 94.0, 'rating__1': 4.14, 'edition_id__1': 3302, 'format__1': 'Hardcover', 'edition__1': 'First Edition', 'is_duplicate_isbn__1': False, 'publisher__1': 'Houghton Mifflin Harcourt', 'cover_url__1': 'https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1451351509l/21413662._SX318_.jpg', 'bbe_votes__1': 12, 'publish_date__1': None, 'price__1': '12.58', 'num_ratings__1': 127231, 'description__1': "Randall Munroe left NASA in 2005 to start up his hugely popular site XKCD 'a web comic of romance, sarcasm, math and language' which offers a witty t ... (1284 characters truncated) ... ical Questions explains the laws of science in operation in a way that every intelligent reader will enjoy and feel much the smarter for having read.", 'pages__2': '471', 'bbe_score__2': 1011, 'isbn__2': '9781857231380', 'language__2': 'English', 'liked_percent__2': 91.0, 'rating__2': 3.86, 'edition_id__2': 3303, 'format__2': 'Paperback', 'edition__2': None, 'is_duplicate_isbn__2': False, 'publisher__2': 'Orbit', 'cover_url__2': 'https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1327951890l/8935689.jpg', 'bbe_votes__2': 13, 'publish_date__2': None, 'price__2': '3.11', 'num_ratings__2': 74256 ... 16900 parameters truncated ... 'bbe_score__997': 698, 'isbn__997': '9780786930708', 'language__997': 'English', 'liked_percent__997': 94.0, 'rating__997': 4.1, 'edition_id__997': 4362, 'format__997': 'Hardcover', 'edition__997': None, 'is_duplicate_isbn__997': False, 'publisher__997': 'Wizards of the Coast', 'cover_url__997': 'https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1312062224l/68378.jpg', 'bbe_votes__997': 8, 'publish_date__997': None, 'price__997': '87.42', 'num_ratings__997': 53363, 'description__997': 'Finally armed with dragonlances, a group of heroes, composed of a knight, barbarian, dwarf, and half-elf, faces a deadly showdown with the evil dragons and Takhisis, the Queen of Darkness.', 'pages__998': '300', 'bbe_score__998': 698, 'isbn__998': '9781548215521', 'language__998': 'English', 'liked_percent__998': 90.0, 'rating__998': 4.1, 'edition_id__998': 4363, 'format__998': 'Paperback', 'edition__998': 'Paperback and ebook', 'is_duplicate_isbn__998': False, 'publisher__998': 'Createspace Independent Publishing Platform', 'cover_url__998': 'https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1502904613l/35648165._SY475_.jpg', 'bbe_votes__998': 7, 'publish_date__998': None, 'price__998': '17.55', 'num_ratings__998': 69, 'description__998': '"How can you love someone so much, and need space from them at the same time?"My alarm goes off at four am. It takes an hour to get to the studio, an ... (616 characters truncated) ... t so I could be a normal teenager. Someone who Roger would want to be with. I could use some excitement in my life…I bet Roger could give that to me.', 'pages__999': '592', 'bbe_score__999': 697, 'isbn__999': '9780811200172', 'language__999': 'English', 'liked_percent__999': 95.0, 'rating__999': 4.22, 'edition_id__999': 4364, 'format__999': 'Paperback', 'edition__999': None, 'is_duplicate_isbn__999': False, 'publisher__999': 'New Directions', 'cover_url__999': 'https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1327947390l/106096.jpg', 'bbe_votes__999': 9, 'publish_date__999': None, 'price__999': '6.87', 'num_ratings__999': 6900, 'description__999': 'Published in rapid succession in the middle 1930s, Journey to the End of the Night and Death on the Installment Plan shocked European literature and  ... (1283 characters truncated) ... grow enormous potatoes by electricity—rescues him, if only temporarily; for the reader he is one of the most lovable charlatans in French literature.'}]
(Background on this error at: https://sqlalche.me/e/20/9h9h)

In [ ]:
%%sql

SELECT * from edition limit 5;

 * postgresql://postgres:***@localhost/books
0 rows affected.

[]