# Creating tables in the db

In [158]:
import os
import re
from datetime import date
import ast

import numpy as np
from scipy import stats
import pandas as pd
from pandas.tseries.offsets import *
from sqlalchemy import create_engine, text
from dotenv import load_dotenv

Reading dfs from parquet files:

In [159]:
award_df = pd.read_parquet('/Users/bfaris96/Desktop/turing-proj/books_db/data/award_df.parquet')
char_df = pd.read_parquet('/Users/bfaris96/Desktop/turing-proj/books_db/data/char_df.parquet')
creator_df = pd.read_parquet('/Users/bfaris96/Desktop/turing-proj/books_db/data/creator_df.parquet')
edition_df = pd.read_parquet('/Users/bfaris96/Desktop/turing-proj/books_db/data/edition_df.parquet')
genre_df = pd.read_parquet('/Users/bfaris96/Desktop/turing-proj/books_db/data/genre_df.parquet')
setting_df = pd.read_parquet('/Users/bfaris96/Desktop/turing-proj/books_db/data/setting_df.parquet')
star_rating_df = pd.read_parquet('/Users/bfaris96/Desktop/turing-proj/books_db/data/star_rating_df.parquet')

In [160]:
load_dotenv()

DB_USER = os.getenv("DB_USER")
DB_PASSWORD = os.getenv("DB_PASSWORD")
DB_HOST = os.getenv("DB_HOST")
DB_NAME = os.getenv("DB_NAME")

%load_ext sql
%sql postgresql://postgres:password@localhost/books

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

## Creating tables

Creating edition table with dtypes

In [161]:
for col in setting_df.columns:
    print(f'{col}: {setting_df[col].astype(str).apply(len).max()}, dtype: {setting_df[col].dtype}')

edition_id: 5, dtype: int64
setting: 87, dtype: object

In [162]:
longest = edition_df['series_num'].astype(str).apply(len).max()
longest

4

In [163]:
%%sql

DROP TABLE IF EXISTS edition CASCADE;
CREATE TABLE edition (
    edition_id serial PRIMARY KEY,
    title varchar(300),
    isbn varchar(13),
    rating real,
    num_ratings bigint,
    liked_percent real,
    bbe_score bigint,
    bbe_votes bigint,
    format varchar(64),
    edition varchar(400),
    series varchar(120),
    series_num varchar(8),
    publish_date date,
    first_publish_date date,
    language varchar(64),
    pages smallint,
    publisher varchar(250),
    cover_url varchar(250),
    price real,
    is_duplicate_isbn boolean,
    description varchar(29000)
);

 * postgresql://postgres:***@localhost/books
Done.
Done.

[]

Creating genre table with dtypes

In [164]:
%%sql

DROP TABLE IF EXISTS genre;
CREATE TABLE genre (
    edition_id bigint NOT NULL, 
    FOREIGN KEY (edition_id) REFERENCES edition(edition_id),
    genre varchar(40),
    PRIMARY KEY (edition_id, genre)
);

 * postgresql://postgres:***@localhost/books
Done.
Done.

[]

In [165]:
for col in char_df.columns:
    print(f'{col}: {char_df[col].astype(str).apply(len).max()}, dtype: {char_df[col].dtype}')

edition_id: 5, dtype: int64
char_name: 128, dtype: object

Creating character table & datatypes

In [166]:
%%sql

DROP TABLE IF EXISTS character;
CREATE TABLE character (
    edition_id bigint NOT NULL,
    FOREIGN KEY (edition_id) REFERENCES edition (edition_id),
    char_name varchar(255),
    PRIMARY KEY (edition_id, char_name)
    );

 * postgresql://postgres:***@localhost/books
Done.
Done.

[]

Creating setting table:

In [167]:
%%sql

DROP TABLE IF EXISTS setting;
CREATE table setting (
    edition_id bigint NOT NULL,
    FOREIGN KEY (edition_id) REFERENCES edition(edition_id),
    setting varchar(100),
    PRIMARY KEY (edition_id, setting)
);

 * postgresql://postgres:***@localhost/books
Done.
Done.

[]

Creating star_rating table:

In [168]:
%%sql

DROP TABLE IF EXISTS star_rating;
CREATE TABLE star_rating (
    edition_id bigint NOT NULL,
    FOREIGN KEY (edition_id) REFERENCES edition(edition_id),
    five_star bigint,
    four_star bigint,
    three_star bigint,
    two_star bigint,
    one_star bigint,
    PRIMARY KEY (edition_id, five_star, four_star, three_star, two_star, one_star)
    );

 * postgresql://postgres:***@localhost/books
Done.
Done.

[]

Creating award table:

In [169]:
%%sql

DROP TABLE IF EXISTS award;
CREATE TABLE award (
    edition_id bigint NOT NULL,
    FOREIGN KEY (edition_id) REFERENCES edition(edition_id),
    award varchar(400),
    award_year smallint,
    PRIMARY KEY (edition_id, award)
);

 * postgresql://postgres:***@localhost/books
Done.
Done.

[]

Creating creator table:

In [170]:
%%sql

DROP TABLE IF EXISTS creator;
CREATE TABLE creator (
    edition_id bigint NOT NULL,
    FOREIGN KEY (edition_id) REFERENCES edition (edition_id),
    creator_name varchar(128),
    role varchar(64),
    PRIMARY KEY (edition_id, creator_name, role)
);

 * postgresql://postgres:***@localhost/books
Done.
Done.

[]

Loading data from dfs into tables:

In [171]:
# Create sqlalchemy engine
engine = create_engine(f"postgresql+psycopg2://{DB_USER}:{DB_PASSWORD}@{DB_HOST}/{DB_NAME}")

In [172]:
edition_df.to_sql('edition', engine, if_exists='append', index=False)

428

In [173]:
%%sql

SELECT * from edition limit 5;

 * postgresql://postgres:***@localhost/books
5 rows affected.

[(0, 'The Hunger Games', '9780439023481', 4.33, 6376780, 96.0, 2993816, 30516, 'Hardcover', 'First Edition', 'The Hunger Games', '1', datetime.date(2008, 9, 14), None, 'English', 374, 'Scholastic Press', 'https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1586722975l/2767052.jpg', 5.09, False, "WINNING MEANS FAME AND FORTUNE.LOSING MEANS CERTAIN DEATH.THE HUNGER GAMES HAVE BEGUN. . . .In the ruins of a place once known as North America lies  ... (543 characters truncated) ... to, she becomes a contender. But if she is to win, she will have to start making choices that weight survival against humanity and life against love."),
 (1, 'Harry Potter and the Order of the Phoenix', '9780439358071', 4.5, 2507623, 98.0, 2632233, 26923, 'Paperback', 'US Edition', 'Harry Potter', '5', datetime.date(2004, 9, 28), datetime.date(2003, 6, 21), 'English', 870, 'Scholastic Inc.', 'https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1546910265l/2.jpg', 7.38, False, 'There is a door at the end of a silent corridor. And it’s haunting Harry Pottter’s dreams. Why else would he be waking in the middle of the night, sc ... (507 characters truncated) ...  depth and strength of his friends, the importance of boundless loyalty, and the shocking price of unbearable sacrifice.His fate depends on them all.'),
 (2, 'To Kill a Mockingbird', None, 4.28, 4501075, 95.0, 2269402, 23328, 'Paperback', None, 'To Kill a Mockingbird', None, datetime.date(2006, 5, 23), datetime.date(1960, 7, 11), 'English', 324, 'Harper Perennial Modern Classics', 'https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1553383690l/2657.jpg', None, True, 'The unforgettable novel of a childhood in a sleepy Southern town and the crisis of conscience that rocked it, To Kill A Mockingbird became both an in ... (516 characters truncated) ... aims universal appeal. Harper Lee always considered her book to be a simple love story. Today it is regarded as a masterpiece of American literature.'),
 (3, 'Pride and Prejudice', '9780679783268', 4.26, 2998241, 94.0, 1983116, 20452, 'Paperback', 'Modern Library Classics, USA / CAN', None, None, datetime.date(2000, 10, 10), datetime.date(1913, 1, 28), 'English', 279, 'Modern Library', 'https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1320399351l/1885.jpg', None, True, 'Alternate cover edition of ISBN 9780679783268Since its immediate success in 1813, Pride and Prejudice has remained one of the most popular novels in  ... (351 characters truncated) ... rkles as her characters dance a delicate quadrille of flirtation and intrigue, making this book the most superb comedy of manners of Regency England.'),
 (4, 'Twilight', '9780316015844', 3.6, 4964519, 78.0, 1459448, 14874, 'Paperback', None, 'The Twilight Saga', '1', datetime.date(2006, 9, 6), datetime.date(2005, 10, 5), 'English', 501, 'Little, Brown and Company', 'https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1361039443l/41865.jpg', 2.1, False, "About three things I was absolutely positive.\r \r First, Edward was a vampire.\r \r Second, there was a part of him—and I didn't know how dominant t ... (59 characters truncated) ... d, I was unconditionally and irrevocably in love with him.\r \r Deeply seductive and extraordinarily suspenseful, Twilight is a love story with bite.")]

In [174]:
edition_df.head()

,title,isbn,rating,num_ratings,liked_percent,bbe_score,bbe_votes,format,edition,series,...,publish_date,first_publish_date,description,language,pages,publisher,cover_url,price,edition_id,is_duplicate_isbn
0,The Hunger Games,9780439023481,4.33,6376780,96.0,2993816,30516,Hardcover,First Edition,The Hunger Games,...,2008-09-14,NaT,WINNING MEANS FAME AND FORTUNE.LOSING MEANS CE...,English,374,Scholastic Press,https://i.gr-assets.com/images/S/compressed.ph...,5.09,0,False
1,Harry Potter and the Order of the Phoenix,9780439358071,4.50,2507623,98.0,2632233,26923,Paperback,US Edition,Harry Potter,...,2004-09-28,2003-06-21,There is a door at the end of a silent corrido...,English,870,Scholastic Inc.,https://i.gr-assets.com/images/S/compressed.ph...,7.38,1,False
2,To Kill a Mockingbird,None,4.28,4501075,95.0,2269402,23328,Paperback,None,To Kill a Mockingbird,...,2006-05-23,1960-07-11,The unforgettable novel of a childhood in a sl...,English,324,Harper Perennial Modern Classics,https://i.gr-assets.com/images/S/compressed.ph...,None,2,True
3,Pride and Prejudice,9780679783268,4.26,2998241,94.0,1983116,20452,Paperback,"Modern Library Classics, USA / CAN",None,...,2000-10-10,1913-01-28,Alternate cover edition of ISBN 9780679783268S...,English,279,Modern Library,https://i.gr-assets.com/images/S/compressed.ph...,None,3,True
4,Twilight,9780316015844,3.60,4964519,78.0,1459448,14874,Paperback,None,The Twilight Saga,...,2006-09-06,2005-10-05,About three things I was absolutely positive.\...,English,501,"Little, Brown and Company",https://i.gr-assets.com/images/S/compressed.ph...,2.1,4,False

In [175]:
genre_df.to_sql('genre', engine, if_exists='append', index=False)

373

In [176]:
%%sql

SELECT * from genre limit 25;

 * postgresql://postgres:***@localhost/books
25 rows affected.

[(0, 'Young Adult'),
 (0, 'Fiction'),
 (0, 'Dystopia'),
 (0, 'Fantasy'),
 (0, 'Science Fiction'),
 (0, 'Romance'),
 (0, 'Adventure'),
 (0, 'Teen'),
 (0, 'Post Apocalyptic'),
 (0, 'Action'),
 (1, 'Fantasy'),
 (1, 'Young Adult'),
 (1, 'Fiction'),
 (1, 'Magic'),
 (1, 'Childrens'),
 (1, 'Adventure'),
 (1, 'Audiobook'),
 (1, 'Middle Grade'),
 (1, 'Classics'),
 (1, 'Science Fiction Fantasy'),
 (2, 'Classics'),
 (2, 'Fiction'),
 (2, 'Historical Fiction'),
 (2, 'School'),
 (2, 'Literature')]

In [177]:
char_df.to_sql('character', engine, if_exists='append', index=False)

160

In [178]:
%%sql

SELECT * from character limit 25;

 * postgresql://postgres:***@localhost/books
25 rows affected.

[(0, 'Katniss Everdeen'),
 (0, 'Peeta Mellark'),
 (0, 'Cato (Hunger Games)'),
 (0, 'Primrose Everdeen'),
 (0, 'Gale Hawthorne'),
 (0, 'Effie Trinket'),
 (0, 'Haymitch Abernathy'),
 (0, 'Cinna'),
 (0, 'President Coriolanus Snow'),
 (0, 'Rue'),
 (0, 'Flavius'),
 (0, 'Lavinia (Hunger Games)'),
 (0, 'Marvel'),
 (0, 'Glimmer'),
 (0, 'Clove'),
 (0, 'Foxface'),
 (0, 'Thresh'),
 (0, 'Greasy Sae'),
 (0, 'Madge Undersee'),
 (0, 'Caesar Flickerman'),
 (0, 'Claudius Templesmith'),
 (0, 'Octavia (Hunger Games)'),
 (0, 'Portia (hunger Games)'),
 (1, 'Sirius Black'),
 (1, 'Draco Malfoy')]

In [179]:
setting_df.to_sql('setting', engine, if_exists='append', index=False)

280

In [180]:
%%sql

SELECT * FROM setting limit 25;

 * postgresql://postgres:***@localhost/books
25 rows affected.

[(0, 'District 12, Panem'),
 (0, 'Capitol, Panem'),
 (0, 'Panem (United States)'),
 (1, 'Hogwarts School of Witchcraft and Wizardry (United Kingdom)'),
 (1, 'London, England'),
 (2, 'Maycomb, Alabama (United States)'),
 (3, 'United Kingdom'),
 (3, 'Derbyshire, England (United Kingdom)'),
 (3, 'England'),
 (3, 'Hertfordshire, England (United Kingdom)'),
 (4, 'Forks, Washington (United States)'),
 (4, 'Phoenix, Arizona (United States)'),
 (4, 'Washington (state) (United States)'),
 (5, 'Molching (Germany)'),
 (5, 'Germany'),
 (6, 'England'),
 (6, 'United Kingdom'),
 (7, 'London, England'),
 (8, 'Middle-earth'),
 (9, 'Atlanta, Georgia (United States)'),
 (10, 'Indianapolis, Indiana (United States)'),
 (10, 'Amsterdam (Netherlands)'),
 (13, 'Yorkshire Dales, England'),
 (14, 'Paris (France)'),
 (14, 'London, England')]

In [181]:
star_rating_df.to_sql('star_rating', engine, if_exists='append', index=False)

6

In [182]:
%%sql

SELECT * FROM star_rating LIMIT 5;

 * postgresql://postgres:***@localhost/books
5 rows affected.

[(0, 3444695, 1921313, 745221, 171994, 93557),
 (1, 1593642, 637516, 222366, 39573, 14526),
 (2, 2363896, 1333153, 573280, 149952, 80794),
 (3, 1617567, 816659, 373311, 113934, 76770),
 (4, 1751460, 1113682, 1008686, 542017, 548674)]

In [183]:
award_df.to_sql('award', engine, if_exists='append', index=False)

527

In [184]:
%%sql

SELECT * FROM award LIMIT 25;

 * postgresql://postgres:***@localhost/books
25 rows affected.

[(0, 'Locus Award Nominee for Best Young Adult Book', 2009),
 (0, 'Georgia Peach Book Award', 2009),
 (0, 'Buxtehuder Bulle', 2009),
 (0, 'Golden Duck Award for Young Adult (Hal Clement Award)', 2009),
 (0, "Grand Prix de l'Imaginaire Nominee for Roman jeunesse étranger", 2010),
 (0, 'Books I Loved Best Yearly (BILBY) Awards for Older Readers', 2012),
 (0, "West Australian Young Readers' Book Award (WAYRBA) for Older Readers", 2010),
 (0, "Red House Children's Book Award for Older Readers & Overall", 2010),
 (0, 'South Carolina Book Award for Junior and Young Adult Book', 2011),
 (0, 'Charlotte Award', 2010),
 (0, 'Colorado Blue Spruce Young Adult Book Award', 2010),
 (0, 'Teen Buckeye Book Award', 2009),
 (0, "Pennsylvania Young Readers' Choice Award for Young Adults", 2010),
 (0, 'Rhode Island Teen Book Award', 2010),
 (0, "Dorothy Canfield Fisher Children's Book Award", 2010),
 (0, 'Evergreen Teen Book Award', 2011),
 (0, 'Soaring Eagle Book Award', 2009),
 (0, 'Milwaukee County Teen Book Award Nominee', 2010),
 (0, 'Sakura Medal for Middle School Book', 2010),
 (0, 'Michigan Library Association Thumbs Up! Award', 2009),
 (0, 'Florida Teens Read', 2009),
 (0, 'Deutscher Jugendliteraturpreis for Preis der Jugendjury', 2010),
 (0, 'Iowa High School Book Award', 2011),
 (0, 'New Mexico Land of Enchantment Award for Young Adult', 2011),
 (0, 'Eliot Rosewater Indiana High School Book Award', 2010)]

In [185]:
creator_df.to_sql('creator', engine, if_exists='append', index=False)

560

In [186]:
%%sql

SELECT * FROM creator LIMIT 5;

 * postgresql://postgres:***@localhost/books
5 rows affected.

[(0, 'Suzanne Collins', 'missing'),
 (1, 'J.K. Rowling', 'missing'),
 (1, 'Mary GrandPré', 'Illustrator'),
 (2, 'Harper Lee', 'missing'),
 (3, 'Jane Austen', 'missing')]

Creating a read only DB user (I realize this is commented out code, but I left it in to prove that I know how to do this):

In [187]:
"""
%%sql

CREATE USER book_reader WITH PASSWORD 'read_only';
GRANT CONNECT ON DATABASE books TO book_reader;
GRANT USAGE ON SCHEMA public TO book_reader;
GRANT SELECT ON ALL TABLES IN SCHEMA public TO book_reader;
ALTER DEFAULT PRIVILEGES IN SCHEMA public GRANT SELECT ON TABLES TO book_reader;
SELECT * FROM pg_roles;
"""

"\n%%sql\n\nCREATE USER book_reader WITH PASSWORD 'read_only';\nGRANT CONNECT ON DATABASE books TO book_reader;\nGRANT USAGE ON SCHEMA public TO book_reader;\nGRANT SELECT ON ALL TABLES IN SCHEMA public TO book_reader;\nALTER DEFAULT PRIVILEGES IN SCHEMA public GRANT SELECT ON TABLES TO book_reader;\nSELECT * FROM pg_roles;\n"