# Creating tables in the db

In [504]:
import os
import re
from datetime import date
import ast

import numpy as np
from scipy import stats
import pandas as pd
from pandas.tseries.offsets import *
from sqlalchemy import create_engine, text
from dotenv import load_dotenv

Reading dfs from parquet files:

In [505]:
award_df = pd.read_parquet('/Users/bfaris96/Desktop/turing-proj/books_db/data/award_df.parquet')
char_df = pd.read_parquet('/Users/bfaris96/Desktop/turing-proj/books_db/data/char_df.parquet')
creator_df = pd.read_parquet('/Users/bfaris96/Desktop/turing-proj/books_db/data/creator_df.parquet')
edition_df = pd.read_parquet('/Users/bfaris96/Desktop/turing-proj/books_db/data/edition_df.parquet')
genre_df = pd.read_parquet('/Users/bfaris96/Desktop/turing-proj/books_db/data/genre_df.parquet')
setting_df = pd.read_parquet('/Users/bfaris96/Desktop/turing-proj/books_db/data/setting_df.parquet')
star_rating_df = pd.read_parquet('/Users/bfaris96/Desktop/turing-proj/books_db/data/star_rating_df.parquet')

In [506]:
load_dotenv()

DB_USER = os.getenv("DB_USER")
DB_PASSWORD = os.getenv("DB_PASSWORD")
DB_HOST = os.getenv("DB_HOST")
DB_NAME = os.getenv("DB_NAME")

%load_ext sql
%sql postgresql://postgres:password@localhost/books

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

## Creating tables

Creating edition table with dtypes

In [507]:
for col in setting_df.columns:
    print(f'{col}: {setting_df[col].astype(str).apply(len).max()}, dtype: {setting_df[col].dtype}')

edition_id: 5, dtype: int64
setting: 87, dtype: object

In [508]:
longest = edition_df['series_num'].astype(str).apply(len).max()
longest

4

In [509]:
%%sql

DROP TABLE IF EXISTS edition CASCADE;
CREATE TABLE edition (
    edition_id serial PRIMARY KEY,
    title varchar(300),
    isbn varchar(13),
    rating real,
    num_ratings bigint,
    liked_percent real,
    bbe_score bigint,
    bbe_votes bigint,
    format varchar(64),
    edition varchar(400),
    series varchar(120),
    series_num varchar(8),
    publish_date date,
    first_publish_date date,
    language varchar(64),
    pages smallint,
    publisher varchar(250),
    cover_url varchar(250),
    price real,
    is_duplicate_isbn boolean,
    description varchar(29000)
);

 * postgresql://postgres:***@localhost/books
Done.
Done.

[]

Creating genre table with dtypes

In [510]:
%%sql

DROP TABLE IF EXISTS genre;
CREATE TABLE genre (
    edition_id bigint NOT NULL, 
    FOREIGN KEY (edition_id) REFERENCES edition(edition_id),
    genre varchar(40),
    PRIMARY KEY (edition_id, genre)
);

 * postgresql://postgres:***@localhost/books
Done.
Done.

[]

In [511]:
for col in char_df.columns:
    print(f'{col}: {char_df[col].astype(str).apply(len).max()}, dtype: {char_df[col].dtype}')

edition_id: 5, dtype: int64
char_name: 128, dtype: object

Creating character table & datatypes

In [512]:
%%sql

DROP TABLE IF EXISTS character;
CREATE TABLE character (
    edition_id bigint NOT NULL,
    FOREIGN KEY (edition_id) REFERENCES edition (edition_id),
    char_name varchar(255),
    PRIMARY KEY (edition_id, char_name)
    );

 * postgresql://postgres:***@localhost/books
Done.
Done.

[]

Creating setting table:

In [513]:
%%sql

DROP TABLE IF EXISTS setting;
CREATE table setting (
    edition_id bigint NOT NULL,
    FOREIGN KEY (edition_id) REFERENCES edition(edition_id),
    setting varchar(100),
    PRIMARY KEY (edition_id, setting)
);

 * postgresql://postgres:***@localhost/books
Done.
Done.

[]

Creating star_rating table:

In [514]:
%%sql

DROP TABLE IF EXISTS star_rating;
CREATE TABLE star_rating (
    edition_id bigint NOT NULL,
    FOREIGN KEY (edition_id) REFERENCES edition(edition_id),
    five_star bigint,
    four_star bigint,
    three_star bigint,
    two_star bigint,
    one_star bigint,
    PRIMARY KEY (edition_id, five_star, four_star, three_star, two_star, one_star)
    );

 * postgresql://postgres:***@localhost/books
Done.
Done.

[]

Creating award table:

In [515]:
%%sql

DROP TABLE IF EXISTS award;
CREATE TABLE award (
    edition_id bigint NOT NULL,
    FOREIGN KEY (edition_id) REFERENCES edition(edition_id),
    award varchar(400),
    award_year smallint,
    PRIMARY KEY (edition_id, award)
);

 * postgresql://postgres:***@localhost/books
Done.
Done.

[]

Creating creator table:

In [516]:
%%sql

DROP TABLE IF EXISTS creator;
CREATE TABLE creator (
    edition_id bigint NOT NULL,
    FOREIGN KEY (edition_id) REFERENCES edition (edition_id),
    creator_name varchar(128),
    role varchar(64),
    PRIMARY KEY (edition_id, creator_name, role)
);

 * postgresql://postgres:***@localhost/books
Done.
Done.

[]

Loading data from dfs into tables:

In [517]:
# Create sqlalchemy engine
engine = create_engine(f"postgresql+psycopg2://{DB_USER}:{DB_PASSWORD}@{DB_HOST}/{DB_NAME}")

In [518]:
edition_df.to_sql('edition', engine, if_exists='append', index=False)

428

In [536]:
%%sql

SELECT * from edition limit 1;

 * postgresql://postgres:***@localhost/books
1 rows affected.

[(0, 'The Hunger Games', '9780439023481', 4.33, 6376780, 96.0, 2993816, 30516, 'Hardcover', 'First Edition', 'The Hunger Games', '1', datetime.date(2008, 9, 14), None, 'English', 374, 'Scholastic Press', 'https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1586722975l/2767052.jpg', 5.09, False, "WINNING MEANS FAME AND FORTUNE.LOSING MEANS CERTAIN DEATH.THE HUNGER GAMES HAVE BEGUN. . . .In the ruins of a place once known as North America lies  ... (543 characters truncated) ... to, she becomes a contender. But if she is to win, she will have to start making choices that weight survival against humanity and life against love.")]

In [520]:
edition_df.head()

,title,isbn,rating,num_ratings,liked_percent,bbe_score,bbe_votes,format,edition,series,...,publish_date,first_publish_date,description,language,pages,publisher,cover_url,price,edition_id,is_duplicate_isbn
0,The Hunger Games,9780439023481,4.33,6376780,96.0,2993816,30516,Hardcover,First Edition,The Hunger Games,...,2008-09-14,NaT,WINNING MEANS FAME AND FORTUNE.LOSING MEANS CE...,English,374,Scholastic Press,https://i.gr-assets.com/images/S/compressed.ph...,5.09,0,False
1,Harry Potter and the Order of the Phoenix,9780439358071,4.50,2507623,98.0,2632233,26923,Paperback,US Edition,Harry Potter,...,2004-09-28,2003-06-21,There is a door at the end of a silent corrido...,English,870,Scholastic Inc.,https://i.gr-assets.com/images/S/compressed.ph...,7.38,1,False
2,To Kill a Mockingbird,None,4.28,4501075,95.0,2269402,23328,Paperback,None,To Kill a Mockingbird,...,2006-05-23,1960-07-11,The unforgettable novel of a childhood in a sl...,English,324,Harper Perennial Modern Classics,https://i.gr-assets.com/images/S/compressed.ph...,None,2,True
3,Pride and Prejudice,9780679783268,4.26,2998241,94.0,1983116,20452,Paperback,"Modern Library Classics, USA / CAN",None,...,2000-10-10,1913-01-28,Alternate cover edition of ISBN 9780679783268S...,English,279,Modern Library,https://i.gr-assets.com/images/S/compressed.ph...,None,3,True
4,Twilight,9780316015844,3.60,4964519,78.0,1459448,14874,Paperback,None,The Twilight Saga,...,2006-09-06,2005-10-05,About three things I was absolutely positive.\...,English,501,"Little, Brown and Company",https://i.gr-assets.com/images/S/compressed.ph...,2.1,4,False

In [521]:
genre_df.to_sql('genre', engine, if_exists='append', index=False)

373

In [535]:
%%sql

SELECT * from genre limit 15;

 * postgresql://postgres:***@localhost/books
15 rows affected.

[(0, 'Young Adult'),
 (0, 'Fiction'),
 (0, 'Dystopia'),
 (0, 'Fantasy'),
 (0, 'Science Fiction'),
 (0, 'Romance'),
 (0, 'Adventure'),
 (0, 'Teen'),
 (0, 'Post Apocalyptic'),
 (0, 'Action'),
 (1, 'Fantasy'),
 (1, 'Young Adult'),
 (1, 'Fiction'),
 (1, 'Magic'),
 (1, 'Childrens')]

In [523]:
char_df.to_sql('character', engine, if_exists='append', index=False)

160

In [524]:
%%sql

SELECT * from character limit 25;

 * postgresql://postgres:***@localhost/books
25 rows affected.

[(0, 'Katniss Everdeen'),
 (0, 'Peeta Mellark'),
 (0, 'Cato (Hunger Games)'),
 (0, 'Primrose Everdeen'),
 (0, 'Gale Hawthorne'),
 (0, 'Effie Trinket'),
 (0, 'Haymitch Abernathy'),
 (0, 'Cinna'),
 (0, 'President Coriolanus Snow'),
 (0, 'Rue'),
 (0, 'Flavius'),
 (0, 'Lavinia (Hunger Games)'),
 (0, 'Marvel'),
 (0, 'Glimmer'),
 (0, 'Clove'),
 (0, 'Foxface'),
 (0, 'Thresh'),
 (0, 'Greasy Sae'),
 (0, 'Madge Undersee'),
 (0, 'Caesar Flickerman'),
 (0, 'Claudius Templesmith'),
 (0, 'Octavia (Hunger Games)'),
 (0, 'Portia (hunger Games)'),
 (1, 'Sirius Black'),
 (1, 'Draco Malfoy')]

In [525]:
setting_df.to_sql('setting', engine, if_exists='append', index=False)

280

In [526]:
%%sql

SELECT * FROM setting limit 25;

 * postgresql://postgres:***@localhost/books
25 rows affected.

[(0, 'District 12, Panem'),
 (0, 'Capitol, Panem'),
 (0, 'Panem (United States)'),
 (1, 'Hogwarts School of Witchcraft and Wizardry (United Kingdom)'),
 (1, 'London, England'),
 (2, 'Maycomb, Alabama (United States)'),
 (3, 'United Kingdom'),
 (3, 'Derbyshire, England (United Kingdom)'),
 (3, 'England'),
 (3, 'Hertfordshire, England (United Kingdom)'),
 (4, 'Forks, Washington (United States)'),
 (4, 'Phoenix, Arizona (United States)'),
 (4, 'Washington (state) (United States)'),
 (5, 'Molching (Germany)'),
 (5, 'Germany'),
 (6, 'England'),
 (6, 'United Kingdom'),
 (7, 'London, England'),
 (8, 'Middle-earth'),
 (9, 'Atlanta, Georgia (United States)'),
 (10, 'Indianapolis, Indiana (United States)'),
 (10, 'Amsterdam (Netherlands)'),
 (13, 'Yorkshire Dales, England'),
 (14, 'Paris (France)'),
 (14, 'London, England')]

In [527]:
star_rating_df.to_sql('star_rating', engine, if_exists='append', index=False)

6

In [528]:
%%sql

SELECT * FROM star_rating LIMIT 5;

 * postgresql://postgres:***@localhost/books
5 rows affected.

[(0, 3444695, 1921313, 745221, 171994, 93557),
 (1, 1593642, 637516, 222366, 39573, 14526),
 (2, 2363896, 1333153, 573280, 149952, 80794),
 (3, 1617567, 816659, 373311, 113934, 76770),
 (4, 1751460, 1113682, 1008686, 542017, 548674)]

In [529]:
award_df.to_sql('award', engine, if_exists='append', index=False)

527

In [537]:
%%sql

SELECT * FROM award LIMIT 5;

 * postgresql://postgres:***@localhost/books
5 rows affected.

[(0, 'Locus Award Nominee for Best Young Adult Book', 2009),
 (0, 'Georgia Peach Book Award', 2009),
 (0, 'Buxtehuder Bulle', 2009),
 (0, 'Golden Duck Award for Young Adult (Hal Clement Award)', 2009),
 (0, "Grand Prix de l'Imaginaire Nominee for Roman jeunesse étranger", 2010)]

In [531]:
creator_df.to_sql('creator', engine, if_exists='append', index=False)

560

In [532]:
%%sql
SELECT * FROM creator LIMIT 5;

 * postgresql://postgres:***@localhost/books
5 rows affected.

[(0, 'Suzanne Collins', 'missing'),
 (1, 'J.K. Rowling', 'missing'),
 (1, 'Mary GrandPré', 'Illustrator'),
 (2, 'Harper Lee', 'missing'),
 (3, 'Jane Austen', 'missing')]

In [533]:
%%sql
SELECT title, first_publish_date, COUNT(*)
from edition
GROUP BY title, first_publish_date
having COUNT(*) > 1
LIMIT 10;

 * postgresql://postgres:***@localhost/books

10 rows affected.

[('Blood Bound', None, 2),
 ('Stinger', None, 2),
 ('Asunder', None, 2),
 ('Haven', None, 4),
 ('Pride', None, 2),
 ('The Prize', None, 2),
 ('Inferno', None, 5),
 ('Remember Me', None, 3),
 ('Rapture', None, 2),
 ('Limits of Destiny', None, 4)]

Creating a read only DB user (I realize this is commented out code, but I left it in to prove that I know how to do this):

In [534]:
"""
%%sql

CREATE USER book_reader WITH PASSWORD 'read_only';
GRANT CONNECT ON DATABASE books TO book_reader;
GRANT USAGE ON SCHEMA public TO book_reader;
GRANT SELECT ON ALL TABLES IN SCHEMA public TO book_reader;
ALTER DEFAULT PRIVILEGES IN SCHEMA public GRANT SELECT ON TABLES TO book_reader;
SELECT * FROM pg_roles;
"""

"\n%%sql\n\nCREATE USER book_reader WITH PASSWORD 'read_only';\nGRANT CONNECT ON DATABASE books TO book_reader;\nGRANT USAGE ON SCHEMA public TO book_reader;\nGRANT SELECT ON ALL TABLES IN SCHEMA public TO book_reader;\nALTER DEFAULT PRIVILEGES IN SCHEMA public GRANT SELECT ON TABLES TO book_reader;\nSELECT * FROM pg_roles;\n"